In [530]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [531]:
import kagglehub
path=kagglehub.dataset_download('vijayuv/onlineretail')

Using Colab cache for faster access to the 'onlineretail' dataset.

**PART A: Initial Data Exploration**

Task 1: Load the dataset and display basic information about its structure

In [532]:
odf=pd.read_csv('/kaggle/input/onlineretail/OnlineRetail.csv',encoding='ISO-8859-1')

In [533]:
odf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

Task 2: Show the first 15 and last 15 records.

In [534]:
odf.head(15)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,12/1/2010 8:34,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,12/1/2010 8:34,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,12/1/2010 8:34,4.25,13047.0,United Kingdom

In [535]:
odf.tail(15)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,12/9/2011 12:50,1.65,12680.0,France
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,12/9/2011 12:50,1.65,12680.0,France
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4,12/9/2011 12:50,3.75,12680.0,France
541898,581587,22727,ALARM CLOCK BAKELIKE RED,4,12/9/2011 12:50,3.75,12680.0,France
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,12/9/2011 12:50,3.75,12680.0,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,12/9/2011 12:50,3.75,12680.0,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,12/9/2011 12:50,1.95,12680.0,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,12/9/2011 12:50,1.95,12680.0,France
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,12/9/2011 12:50,4.15,12680.0,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

Task 3: Display a random sample of 20 transactions.

In [536]:
odf.sample(20)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
190809,553210,71101E,STANDING FAIRY POLE SUPPORT,48,5/16/2011 9:40,0.72,14016.0,EIRE
339107,566580,23183,MOTHER'S KITCHEN SPOON REST,6,9/13/2011 13:46,3.75,12822.0,United Kingdom
411828,572232,23320,GIANT 50'S CHRISTMAS CRACKER,12,10/21/2011 14:41,2.89,16293.0,United Kingdom
48299,540468,21257,VICTORIAN SEWING BOX MEDIUM,1,1/7/2011 13:55,16.13,NaN,United Kingdom
320889,565117,23281,FOLDING BUTTERFLY MIRROR RED,12,9/1/2011 11:33,0.83,13089.0,United Kingdom
34228,539324,22400,MAGNETS PACK OF 4 HOME SWEET HOME,1,12/16/2010 19:51,1.25,14985.0,United Kingdom
97917,544661,22423,REGENCY CAKESTAND 3 TIER,1,2/22/2011 13:59,12.75,15303.0,United Kingdom
58838,541265,20711,JUMBO BAG TOYS,2,1/16/2011 16:23,1.95,17609.0,United Kingdom
484133,577521,23322,LARGE WHITE HEART OF WICKER,1,11/20/2011 13:23,2.95,16411.0,United Kingdom
391204,570657,84970S,HANGING HEART ZINC T-LIGHT HOLDER,12,10/11/2011 14:10,0.85,14911.0,EIRE
484796,577542,22197,POPCORN HOLDER,3,11/20/2011 14:33,0.85,13565.0,United Kingdom
344352,567043,21166,COOK WITH WINE METAL SIGN,4,9/16/2011 11:27,2.08,13268.0,United Kingdom
465376,576228,23084,RABBIT NIGHT LIGHT,3,11/14/2011 13:12,2.08,15033.0,United Kingdom
389268,570466,23401,RUSTIC MIRROR WITH LACE HEART,1,10/10/2011 16:03,6.25,16791.0,United Kingdom
92176,544180,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,192,2/16/2011 14:48,0.72,14309.0,United Kingdom
151706,549567,18097C,WHITE TALL PORCELAIN T-LIGHT HOLDER,6,4/10/2011 15:07,2.55,13632.0,United Kingdom
122720,546884,21993,FLORAL FOLK STATIONERY SET,1,3/17/2011 18:08,2.46,NaN,United Kingdom
5144,536846,22665,RECIPE BOX BLUE SKETCHBOOK DESIGN,1,12/2/2010 19:59,2.95,14573.0,United Kingdom
347569,567310,21993,FLORAL FOLK STATIONERY SET,2,9/19/2011 13:45,1.25,15504.0,United Kingdom
195324,553714,22607,WOODEN ROUNDERS GARDEN SET,1,5/18/2011 15:55,9.95,16987.0,United Kingdom

Task 4: Find out how many rows and columns are in the dataset.

In [537]:
odf.shape

(541909, 8)

Task 5: List all column names.

In [538]:
odf.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

Task 6: Check the data type of each column.

In [539]:
odf.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

Task 7: Get a statistical summary of all numerical columns.

In [540]:
odf.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

**PART B: Data Quality Assessment**

Task 8: Identify which columns have missing values and how many.

In [541]:
odf.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

Task 9: Find out how many transactions have missing CustomerID.

In [542]:
odf['CustomerID'].isna().sum()

np.int64(135080)

Task 10: Check if there are any duplicate rows in the dataset.

In [543]:
odf.duplicated().sum()

np.int64(5268)

Task 11: Identify transactions where Quantity is less than or equal to zero.

In [544]:
odf[odf['Quantity'] <= 0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,12/1/2010 9:41,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,12/1/2010 9:49,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,12/1/2010 10:24,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,12/9/2011 9:57,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,12/9/2011 10:28,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,12/9/2011 11:57,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,12/9/2011 11:58,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,12/9/2011 11:58,1.25,17315.0,United Kingdom

Task 12: Find transactions where UnitPrice is zero or negative.

In [545]:
odf[odf['UnitPrice']<= 0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,12/1/2010 11:52,0.0,NaN,United Kingdom
1970,536545,21134,NaN,1,12/1/2010 14:32,0.0,NaN,United Kingdom
1971,536546,22145,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1972,536547,37509,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1987,536549,85226A,NaN,1,12/1/2010 14:34,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
536981,581234,72817,NaN,27,12/8/2011 10:33,0.0,NaN,United Kingdom
538504,581406,46000M,POLYESTER FILLER PAD 45x45cm,240,12/8/2011 13:58,0.0,NaN,United Kingdom
538505,581406,46000S,POLYESTER FILLER PAD 40x40cm,300,12/8/2011 13:58,0.0,NaN,United Kingdom
538554,581408,85175,NaN,20,12/8/2011 14:06,0.0,NaN,United Kingdom
538919,581422,23169,smashed,-235,12/8/2011 15:24,0.0,NaN,United Kingdom

Task 13: Identify how many invoice numbers start with the letter 'C'

In [546]:
odf[odf['InvoiceNo'].str.startswith('C')].shape[0]

9288

Task 14: Check if the Description column has any leading or trailing spaces.

In [547]:
odf['Description'].astype(str).apply(lambda x: x != x.strip()).sum()

np.int64(113452)

PART C: Data Cleaning

Task 15: Remove all rows where CustomerID is missing.

In [548]:
odf.dropna(subset=['CustomerID'],inplace=True)

In [549]:
odf.isna().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

Task 16: For missing product descriptions, fill them with "Unknown Product".

In [550]:
odf['Description'].fillna('Unknown Product')

0          WHITE HANGING HEART T-LIGHT HOLDER
1                         WHITE METAL LANTERN
2              CREAM CUPID HEARTS COAT HANGER
3         KNITTED UNION FLAG HOT WATER BOTTLE
4              RED WOOLLY HOTTIE WHITE HEART.
                         ...
541904            PACK OF 20 SPACEBOY NAPKINS
541905           CHILDREN'S APRON DOLLY GIRL
541906          CHILDRENS CUTLERY DOLLY GIRL
541907        CHILDRENS CUTLERY CIRCUS PARADE
541908          BAKING SET 9 PIECE RETROSPOT
Name: Description, Length: 406829, dtype: object

In [551]:
odf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406829 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406829 non-null  object
 1   StockCode    406829 non-null  object
 2   Description  406829 non-null  object
 3   Quantity     406829 non-null  int64
 4   InvoiceDate  406829 non-null  object
 5   UnitPrice    406829 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      406829 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.9+ MB

Task 17: Remove all duplicate transactions

In [552]:
odf.duplicated().sum()

np.int64(5225)

In [553]:
odf.drop_duplicates(inplace=True)

In [554]:
odf.duplicated().sum()

np.int64(0)

Task 18: Remove transactions where Quantity is less than or equal to zero.

In [555]:
odf = odf[odf['Quantity'] > 0]

Task 19: Remove transactions where UnitPrice is less than or equal to zero.

In [556]:
odf = odf[odf['UnitPrice'] > 0]

Task 20: Remove all cancelled transactions (invoices starting with 'C').

In [557]:
odf['InvoiceNo'].str.startswith('C').sum()

np.int64(0)

Task 21: Change the column name "Description" to "ProductName"

In [558]:
col_name = {'Description':'ProductName'}

In [559]:
odf.rename(columns={'Description':'ProductName'},inplace=True)

In [560]:
odf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392692 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    392692 non-null  object
 1   StockCode    392692 non-null  object
 2   ProductName  392692 non-null  object
 3   Quantity     392692 non-null  int64
 4   InvoiceDate  392692 non-null  object
 5   UnitPrice    392692 non-null  float64
 6   CustomerID   392692 non-null  float64
 7   Country      392692 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.0+ MB

Task 22: Ensure the InvoiceDate column is in proper date-time format

In [561]:
odf['InvoiceDate']=pd.to_datetime(odf['InvoiceDate'])

Task 23: Convert CustomerID to integer type

In [562]:
odf['CustomerID'] = odf['CustomerID'].astype(int)

In [563]:
odf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392692 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    392692 non-null  object
 1   StockCode    392692 non-null  object
 2   ProductName  392692 non-null  object
 3   Quantity     392692 non-null  int64
 4   InvoiceDate  392692 non-null  datetime64[ns]
 5   UnitPrice    392692 non-null  float64
 6   CustomerID   392692 non-null  int64
 7   Country      392692 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 27.0+ MB

Task 24: Reset the index after all cleaning operations.

In [564]:
odf.reset_index(drop=True,inplace=True)

In [565]:
odf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392692 entries, 0 to 392691
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    392692 non-null  object
 1   StockCode    392692 non-null  object
 2   ProductName  392692 non-null  object
 3   Quantity     392692 non-null  int64
 4   InvoiceDate  392692 non-null  datetime64[ns]
 5   UnitPrice    392692 non-null  float64
 6   CustomerID   392692 non-null  int64
 7   Country      392692 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 24.0+ MB

PART D: Feature Creation

Task 25: Create a new column called "TotalPrice" that represents the total value of each transaction.

In [566]:
odf['TotalPrice'] = odf['Quantity'] * odf['UnitPrice']

In [567]:
odf

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85

Task 26: Extract the year from InvoiceDate and store it in a new column "Year".

In [568]:
odf['Year']=odf['InvoiceDate'].dt.year

In [569]:
odf

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010
...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011

Task 27: Extract the month from InvoiceDate and store it in a new column "Month".

In [570]:
odf['Month']=odf['InvoiceDate'].dt.month
odf

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12
...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12

Task 28: Extract the day from InvoiceDate and store it in a new column "Day".

In [571]:
odf['Day']=odf['InvoiceDate'].dt.day
odf

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1
...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9

Task 29: Extract the hour from InvoiceDate and store it in a new column "Hour".

In [572]:
odf['Hour']=odf['InvoiceDate'].dt.hour
odf

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12

Task 30: Create a column "DayOfWeek" showing which day of the week the transaction occurred.

In [573]:
odf['DayOfWeek']=odf['InvoiceDate'].dt.day_of_week
odf

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,2
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4

Task 31: Create a column "Quarter" showing which quarter (Q1, Q2, Q3, Q4) the transaction belongs to.

In [574]:
odf['Quarter']=odf['InvoiceDate'].dt.quarter
odf

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2,4
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,2,4
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4

Task 32: Create a column "RevenueCategory" with three levels:

"Low" for transactions under 10 "Medium" for transactions between 10 and 100 "High" for transactions above 100

In [575]:
def revenue_category(x):
    if x < 10:
        return "Low"
    elif 10 <= x <= 100:
        return "Medium"
    else:
        return "High"

odf['RevenueCategory'] = odf['TotalPrice'].apply(revenue_category)

In [576]:
odf

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2,4,Medium
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,2,4,Medium
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium

Task 33: Create a column "OrderSize" with three levels:

"Small" for Quantity less than 5 "Medium" for Quantity between 5 and 20 "Large" for Quantity greater than 20

In [577]:
def Ordersize(a):
  if a <5:
    return "Small"
  elif a >5 and a <20:
    return "Medium"
  else:
    return "Large"

odf['OrderSize']=odf['Quantity'].apply(Ordersize)

In [578]:
odf

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2,4,Medium,Medium
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,2,4,Medium,Medium
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,Medium
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,Medium
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small

Task 34: Create a column that shows the length of each product name.

In [579]:
odf['LengthOfProduct']=odf['ProductName'].str.len()

In [580]:
odf

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,2,4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,Medium,27
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,Medium,28
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,29
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,31
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small,29

PART E: Text Data Processing

Task 35: Convert all product names to uppercase.

In [581]:
odf['ProductName'] = odf['ProductName'].str.upper()
odf

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,2,4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,Medium,27
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,Medium,28
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,29
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,31
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small,29

Task 36: Remove any extra spaces from the Country column.

In [582]:
odf['Country']=odf['Country'].str.strip()

Task 37: Find all products that contain the word "BAG" in their name.

In [583]:
odf[odf['ProductName'].str.contains("BAG")]
odf

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,2,4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,Medium,27
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,Medium,28
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,29
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,31
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small,29

Task 38: Find all products whose names start with "WHITE".

In [584]:
odf[odf['ProductName'].str.startswith("WHITE")]
odf

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,2010,12,1,8,2,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,2010,12,1,8,2,4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,2010,12,1,8,2,4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,Medium,27
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,Medium,28
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,29
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,31
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small,29

Task 39: Find all products whose names end with "HOLDER".

In [585]:
odf[odf['ProductName'].str.endswith('HOLDER')]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.3,2010,12,1,8,2,4,Medium,Medium,34
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.5,2010,12,1,8,2,4,Medium,Medium,33
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:02:00,2.55,17850,United Kingdom,15.3,2010,12,1,9,2,4,Medium,Medium,34
64,536373,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 09:02:00,4.25,17850,United Kingdom,25.5,2010,12,1,9,2,4,Medium,Medium,33
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 09:32:00,2.55,17850,United Kingdom,15.3,2010,12,1,9,2,4,Medium,Medium,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392497,581567,21326,AGED GLASS SILVER T-LIGHT HOLDER,144,2011-12-09 11:56:00,0.55,16626,United Kingdom,79.2,2011,12,9,11,4,4,Medium,Large,32
392524,581571,85053,FRENCH ENAMEL CANDLEHOLDER,2,2011-12-09 12:00:00,2.10,15311,United Kingdom,4.2,2011,12,9,12,4,4,Low,Small,26
392608,581579,22197,POPCORN HOLDER,24,2011-12-09 12:19:00,0.85,17581,United Kingdom,20.4,2011,12,9,12,4,4,Medium,Large,14
392655,581585,22460,EMBOSSED GLASS TEALIGHT HOLDER,12,2011-12-09 12:31:00,1.25,15804,United Kingdom,15.0,2011,12,9,12,4,4,Medium,Medium,30
392659,581585,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,24,2011-12-09 12:31:00,0.85,15804,United Kingdom,20.4,2011,12,9,12,4,4,Medium,Large,34

Task 40: Replace "United Kingdom" with "UK" in the Country column.

In [586]:
odf['Country']=odf['Country'].replace("United Kingdom","UK")

In [587]:
odf

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,2,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,2,4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,Medium,27
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,Medium,28
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,29
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,31
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small,29

Task 41: Replace "EIRE" with "Ireland" in the Country column.

In [588]:
odf[odf['Country']=='EIRE']

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
1357,536540,22968,ROSE COTTAGE KEEPSAKE BOX,4,2010-12-01 14:05:00,9.95,14911,EIRE,39.8,2010,12,1,14,2,4,Medium,Small,26
1358,536540,85071A,BLUE CHARLIE+LOLA PERSONAL DOORSIGN,6,2010-12-01 14:05:00,2.95,14911,EIRE,17.7,2010,12,1,14,2,4,Medium,Medium,35
1359,536540,85071C,"CHARLIE+LOLA""EXTREMELY BUSY"" SIGN",6,2010-12-01 14:05:00,2.55,14911,EIRE,15.3,2010,12,1,14,2,4,Medium,Medium,33
1360,536540,22355,CHARLOTTE BAG SUKI DESIGN,50,2010-12-01 14:05:00,0.85,14911,EIRE,42.5,2010,12,1,14,2,4,Medium,Large,25
1361,536540,21579,LOLITA DESIGN COTTON TOTE BAG,6,2010-12-01 14:05:00,2.25,14911,EIRE,13.5,2010,12,1,14,2,4,Medium,Medium,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391616,581433,22192,BLUE DINER WALL CLOCK,2,2011-12-08 15:54:00,8.50,14911,EIRE,17.0,2011,12,8,15,3,4,Medium,Small,21
391617,581433,48187,DOORMAT NEW ENGLAND,2,2011-12-08 15:54:00,8.25,14911,EIRE,16.5,2011,12,8,15,3,4,Medium,Small,19
391618,581433,48184,DOORMAT ENGLISH ROSE,2,2011-12-08 15:54:00,8.25,14911,EIRE,16.5,2011,12,8,15,3,4,Medium,Small,21
391619,581433,20685,DOORMAT RED RETROSPOT,2,2011-12-08 15:54:00,8.25,14911,EIRE,16.5,2011,12,8,15,3,4,Medium,Small,21
391620,581433,79302M,"ART LIGHTS,FUNK MONKEY",6,2011-12-08 15:54:00,2.95,14911,EIRE,17.7,2011,12,8,15,3,4,Medium,Medium,22

In [589]:
odf['Country']=odf['Country'].replace("EIRE","Ireland")

PART F: Data Selection and Filtering

Task 42: Select only the columns: InvoiceNo, ProductName, Quantity, UnitPrice, Country.

In [590]:
selected_df = odf[['InvoiceNo','ProductName','Quantity','UnitPrice','Country']]
selected_df

,InvoiceNo,ProductName,Quantity,UnitPrice,Country
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,UK
1,536365,WHITE METAL LANTERN,6,3.39,UK
2,536365,CREAM CUPID HEARTS COAT HANGER,8,2.75,UK
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,UK
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,UK
...,...,...,...,...,...
392687,581587,PACK OF 20 SPACEBOY NAPKINS,12,0.85,France
392688,581587,CHILDREN'S APRON DOLLY GIRL,6,2.10,France
392689,581587,CHILDRENS CUTLERY DOLLY GIRL,4,4.15,France
392690,581587,CHILDRENS CUTLERY CIRCUS PARADE,4,4.15,France
392691,581587,BAKING SET 9 PIECE RETROSPOT,3,4.95,France

In [591]:
odf[odf['Country'] == "Germany"]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
1073,536527,22809,SET OF 6 T-LIGHTS SANTA,6,2010-12-01 13:04:00,2.95,12662,Germany,17.70,2010,12,1,13,2,4,Medium,Medium,23
1074,536527,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,6,2010-12-01 13:04:00,2.55,12662,Germany,15.30,2010,12,1,13,2,4,Medium,Medium,35
1075,536527,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,2010-12-01 13:04:00,0.85,12662,Germany,10.20,2010,12,1,13,2,4,Medium,Medium,34
1076,536527,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,2010-12-01 13:04:00,1.65,12662,Germany,19.80,2010,12,1,13,2,4,Medium,Medium,29
1077,536527,22244,3 HOOK HANGER MAGIC GARDEN,12,2010-12-01 13:04:00,1.95,12662,Germany,23.40,2010,12,1,13,2,4,Medium,Medium,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392584,581578,22993,SET OF 4 PANTRY JELLY MOULDS,12,2011-12-09 12:16:00,1.25,12713,Germany,15.00,2011,12,9,12,4,4,Medium,Medium,28
392585,581578,22907,PACK OF 20 NAPKINS PANTRY DESIGN,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,2011,12,9,12,4,4,Medium,Medium,32
392586,581578,22908,PACK OF 20 NAPKINS RED APPLES,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,2011,12,9,12,4,4,Medium,Medium,29
392587,581578,23215,JINGLE BELL HEART ANTIQUE SILVER,12,2011-12-09 12:16:00,2.08,12713,Germany,24.96,2011,12,9,12,4,4,Medium,Medium,32
392588,581578,22736,RIBBON REEL MAKING SNOWMEN,10,2011-12-09 12:16:00,1.65,12713,Germany,16.50,2011,12,9,12,4,4,Medium,Medium,27

Task 44: Display transactions where Quantity is greater than 50.

In [592]:
odf[odf['Quantity'] >50]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
46,536371,22086,PAPER CHAIN KIT 50'S CHRISTMAS,80,2010-12-01 09:00:00,2.55,13748,UK,204.00,2010,12,1,9,2,4,High,Large,31
83,536376,21733,RED HANGING HEART T-LIGHT HOLDER,64,2010-12-01 09:32:00,2.55,15291,UK,163.20,2010,12,1,9,2,4,High,Large,32
96,536378,21212,PACK OF 72 RETROSPOT CAKE CASES,120,2010-12-01 09:37:00,0.42,14688,UK,50.40,2010,12,1,9,2,4,Medium,Large,31
102,536378,85071B,RED CHARLIE+LOLA PERSONAL DOORSIGN,96,2010-12-01 09:37:00,0.38,14688,UK,36.48,2010,12,1,9,2,4,Medium,Large,34
174,536386,85099C,JUMBO BAG BAROQUE BLACK WHITE,100,2010-12-01 09:57:00,1.65,16029,UK,165.00,2010,12,1,9,2,4,High,Large,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392488,581566,23404,HOME SWEET HOME BLACKBOARD,144,2011-12-09 11:50:00,3.26,18102,UK,469.44,2011,12,9,11,4,4,High,Large,26
392489,581567,21417,COCKLE SHELL DISH,84,2011-12-09 11:56:00,0.79,16626,UK,66.36,2011,12,9,11,4,4,Medium,Large,17
392497,581567,21326,AGED GLASS SILVER T-LIGHT HOLDER,144,2011-12-09 11:56:00,0.55,16626,UK,79.20,2011,12,9,11,4,4,Medium,Large,32
392529,581571,23167,SMALL CERAMIC TOP STORAGE JAR,96,2011-12-09 12:00:00,0.69,15311,UK,66.24,2011,12,9,12,4,4,Medium,Large,30
392650,581584,20832,RED FLOCK LOVE HEART PHOTO FRAME,72,2011-12-09 12:25:00,0.72,13777,UK,51.84,2011,12,9,12,4,4,Medium,Large,32

Task 45: Display transactions where UnitPrice is between 5 and 10.

In [593]:
odf[(odf['UnitPrice']>=5) & (odf['UnitPrice']<=10)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850,UK,15.30,2010,12,1,8,2,4,Medium,Small,28
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047,UK,19.90,2010,12,1,8,2,4,Medium,Small,30
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047,UK,17.85,2010,12,1,8,2,4,Medium,Small,24
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047,UK,17.85,2010,12,1,8,2,4,Medium,Small,24
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047,UK,31.80,2010,12,1,8,2,4,Medium,Small,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392638,581580,21351,CINAMMON & ORANGE WREATH,1,2011-12-09 12:20:00,6.75,12748,UK,6.75,2011,12,9,12,4,4,Low,Small,24
392641,581580,79321,CHILLI LIGHTS,2,2011-12-09 12:20:00,5.75,12748,UK,11.50,2011,12,9,12,4,4,Medium,Small,13
392661,581585,23356,LOVE HOT WATER BOTTLE,3,2011-12-09 12:31:00,5.95,15804,UK,17.85,2011,12,9,12,4,4,Medium,Small,21
392675,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113,UK,214.80,2011,12,9,12,4,4,High,Large,29
392676,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113,UK,70.80,2011,12,9,12,4,4,Medium,Medium,21

Task 46: Display transactions from France with Quantity greater than 20.

In [594]:
odf[(odf['Country']=="France") & (odf['Quantity']>=20)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,2,4,Medium,Large,25
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,2,4,Medium,Large,25
30,536370,21883,STARS GIFT TAPE,24,2010-12-01 08:45:00,0.65,12583,France,15.60,2010,12,1,8,2,4,Medium,Large,16
31,536370,10002,INFLATABLE POLITICAL GLOBE,48,2010-12-01 08:45:00,0.85,12583,France,40.80,2010,12,1,8,2,4,Medium,Large,27
32,536370,21791,VINTAGE HEADS AND TAILS CARD GAME,24,2010-12-01 08:45:00,1.25,12583,France,30.00,2010,12,1,8,2,4,Medium,Large,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387471,581001,23084,RABBIT NIGHT LIGHT,24,2011-12-07 08:07:00,1.79,12583,France,42.96,2011,12,7,8,2,4,Medium,Large,18
387485,581001,22726,ALARM CLOCK BAKELIKE GREEN,24,2011-12-07 08:07:00,3.75,12583,France,90.00,2011,12,7,8,2,4,Medium,Large,26
389063,581171,22966,GINGERBREAD MAN COOKIE CUTTER,24,2011-12-07 15:02:00,1.25,12615,France,30.00,2011,12,7,15,2,4,Medium,Large,29
389074,581171,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,48,2011-12-07 15:02:00,0.29,12615,France,13.92,2011,12,7,15,2,4,Medium,Large,33
389081,581171,23084,RABBIT NIGHT LIGHT,24,2011-12-07 15:02:00,1.79,12615,France,42.96,2011,12,7,15,2,4,Medium,Large,18

Task 47: Display transactions from December 2010.

In [595]:
odf[(odf['InvoiceDate'].dt.year==2010) & (odf['InvoiceDate'].dt.month==12)]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,2,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,2,4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25665,539988,84380,SET OF 3 BUTTERFLY COOKIE CUTTERS,1,2010-12-23 16:06:00,1.25,18116,UK,1.25,2010,12,23,16,3,4,Low,Small,33
25666,539988,84849D,HOT BATHS SOAP HOLDER,1,2010-12-23 16:06:00,1.69,18116,UK,1.69,2010,12,23,16,3,4,Low,Small,21
25667,539988,84849B,FAIRY SOAP SOAP HOLDER,1,2010-12-23 16:06:00,1.69,18116,UK,1.69,2010,12,23,16,3,4,Low,Small,22
25668,539988,22854,CREAM SWEETHEART EGG HOLDER,2,2010-12-23 16:06:00,4.95,18116,UK,9.90,2010,12,23,16,3,4,Low,Small,27
25669,539988,47559B,TEA TIME OVEN GLOVE,2,2010-12-23 16:06:00,1.25,18116,UK,2.50,2010,12,23,16,3,4,Low,Small,19

Task 48: Display transactions that occurred on weekends.

In [596]:
odf[odf['InvoiceDate'].dt.weekday >=5]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
4943,537037,22114,HOT WATER BOTTLE TEA AND SYMPATHY,8,2010-12-05 10:03:00,3.95,17243,UK,31.60,2010,12,5,10,6,4,Medium,Medium,33
4944,537037,21485,RETROSPOT HEART HOT WATER BOTTLE,6,2010-12-05 10:03:00,4.95,17243,UK,29.70,2010,12,5,10,6,4,Medium,Medium,32
4945,537037,22835,HOT WATER BOTTLE I AM SO POORLY,3,2010-12-05 10:03:00,4.65,17243,UK,13.95,2010,12,5,10,6,4,Medium,Small,31
4946,537037,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-05 10:03:00,3.75,17243,UK,22.50,2010,12,5,10,6,4,Medium,Medium,30
4947,537037,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-05 10:03:00,3.75,17243,UK,22.50,2010,12,5,10,6,4,Medium,Medium,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381605,580536,21156,RETROSPOT CHILDRENS APRON,8,2011-12-04 16:07:00,1.95,12490,France,15.60,2011,12,4,16,6,4,Medium,Medium,25
381606,580536,21880,RED RETROSPOT TAPE,12,2011-12-04 16:07:00,0.65,12490,France,7.80,2011,12,4,16,6,4,Low,Medium,18
381607,580536,22090,PAPER BUNTING RETROSPOT,6,2011-12-04 16:07:00,2.95,12490,France,17.70,2011,12,4,16,6,4,Medium,Medium,23
381608,580536,22628,PICNIC BOXES SET OF 3 RETROSPOT,4,2011-12-04 16:07:00,4.95,12490,France,19.80,2011,12,4,16,6,4,Medium,Small,32
381609,580536,POST,POSTAGE,3,2011-12-04 16:07:00,18.00,12490,France,54.00,2011,12,4,16,6,4,Medium,Small,7

Task 49: Display the top 10 transactions by TotalPrice.

In [597]:
odf.sort_values(by='TotalPrice',ascending=False).head(10)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
392226,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,12,9,9,4,4,High,Large,27
36521,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,1,1,High,Large,30
153588,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,6,10,15,4,2,High,Large,30
116868,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,5,3,13,1,2,High,Small,7
246041,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,9,20,11,1,3,High,Large,35
108204,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749,UK,6539.40,2011,4,18,13,0,2,High,Large,34
32199,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749,UK,6539.40,2011,1,11,12,1,1,High,Large,34
304623,573003,23084,RABBIT NIGHT LIGHT,2400,2011-10-27 12:11:00,2.08,14646,Netherlands,4992.00,2011,10,27,12,3,4,High,Large,18
32197,540815,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-01-11 12:55:00,2.55,15749,UK,4921.50,2011,1,11,12,1,1,High,Large,34
108200,550461,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-04-18 13:20:00,2.40,15749,UK,4632.00,2011,4,18,13,0,2,High,Large,34

Task 50: Display the bottom 15 transactions by TotalPrice.

In [598]:
odf.sort_values(by='TotalPrice',ascending=False).tail(15)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
282970,570983,47518F,ICON PLACEMAT POP ART ELVIS,1,2011-10-13 11:57:00,0.120,14963,UK,0.120,2011,10,13,11,3,4,Low,Small,27
390034,581310,22422,TOOTHPASTE TUBE PEN,1,2011-12-08 11:43:00,0.120,16442,UK,0.120,2011,12,8,11,3,4,Low,Small,19
297409,572291,47518F,ICON PLACEMAT POP ART ELVIS,1,2011-10-23 12:46:00,0.120,16931,UK,0.120,2011,10,23,12,6,4,Low,Small,27
226996,565426,21403,BLUE EGG SPOON,1,2011-09-04 12:41:00,0.120,12851,UK,0.120,2011,9,4,12,6,3,Low,Small,15
226985,565426,85204,HANGING WOOD AND FELT FLOWER,1,2011-09-04 12:41:00,0.120,12851,UK,0.120,2011,9,4,12,6,3,Low,Small,28
184362,560359,16008,SMALL FOLDING SCISSOR(POINTED EDGE),1,2011-07-18 11:47:00,0.120,14159,UK,0.120,2011,7,18,11,0,3,Low,Small,35
362505,578479,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-11-24 12:48:00,0.100,15858,UK,0.100,2011,11,24,12,3,4,Low,Small,30
167801,558198,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-06-27 12:49:00,0.100,14104,UK,0.100,2011,6,27,12,0,2,Low,Small,30
176900,559509,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-07-08 15:25:00,0.100,15920,UK,0.100,2011,7,8,15,4,3,Low,Small,30
196908,561894,M,MANUAL,1,2011-07-31 15:00:00,0.080,14456,UK,0.080,2011,7,31,15,6,3,Low,Small,6
364817,578757,16216,LETTER SHAPE PENCIL SHARPENER,1,2011-11-25 11:41:00,0.060,12748,UK,0.060,2011,11,25,11,4,4,Low,Small,29
254730,568200,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 14:58:00,0.001,16198,UK,0.001,2011,9,25,14,6,3,Low,Small,26
256543,568375,BANK CHARGES,BANK CHARGES,1,2011-09-26 17:01:00,0.001,13405,UK,0.001,2011,9,26,17,0,3,Low,Small,12
192219,561226,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-07-26 10:13:00,0.001,15618,UK,0.001,2011,7,26,10,1,3,Low,Small,26
105962,550193,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-04-15 09:27:00,0.001,13952,UK,0.001,2011,4,15,9,4,2,Low,Small,26

Task 51: Find all transactions from either UK, Germany, or France.

In [599]:
odf[(odf['Country'] == "UK") | (odf['Country'] == "Germany") | (odf['Country'] == "France")]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,2,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,2,4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,12,9,12,4,4,Medium,Medium,27
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,12,9,12,4,4,Medium,Medium,28
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,29
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,31
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small,29


Task 52: Find transactions where TotalPrice is above the 95th percentile.

In [600]:
threshold = odf['TotalPrice'].quantile(0.95)
odf[odf['TotalPrice'] > threshold]

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,2,4,Medium,Large,25
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583,France,90.00,2010,12,1,8,2,4,Medium,Large,25
34,536370,22326,ROUND SNACK BOXES SET OF4 WOODLAND,24,2010-12-01 08:45:00,2.95,12583,France,70.80,2010,12,1,8,2,4,Medium,Large,35
40,536370,22900,SET 2 TEA TOWELS I LOVE LONDON,24,2010-12-01 08:45:00,2.95,12583,France,70.80,2010,12,1,8,2,4,Medium,Large,32
46,536371,22086,PAPER CHAIN KIT 50'S CHRISTMAS,80,2010-12-01 09:00:00,2.55,13748,UK,204.00,2010,12,1,9,2,4,High,Large,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392610,581579,23313,VINTAGE CHRISTMAS BUNTING,15,2011-12-09 12:19:00,4.95,17581,UK,74.25,2011,12,9,12,4,4,Medium,Medium,25
392618,581579,23581,JUMBO BAG PAISLEY PARK,40,2011-12-09 12:19:00,1.79,17581,UK,71.60,2011,12,9,12,4,4,Medium,Large,22
392651,581584,85038,6 CHOCOLATE LOVE HEART T-LIGHTS,48,2011-12-09 12:25:00,1.85,13777,UK,88.80,2011,12,9,12,4,4,Medium,Large,31
392675,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113,UK,214.80,2011,12,9,12,4,4,High,Large,29
392676,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113,UK,70.80,2011,12,9,12,4,4,Medium,Medium,21

PART G: Sorting Operations

Task 53: Sort the entire dataset by InvoiceDate in ascending order.

In [601]:
odf.sort_values(by='InvoiceDate', ascending=True)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,12,1,8,2,4,Medium,Medium,34
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,19
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,12,1,8,2,4,Medium,Medium,30
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,35
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,12,1,8,2,4,Medium,Medium,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392679,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,12,9,12,4,4,Medium,Medium,25
392678,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,12,9,12,4,4,Medium,Medium,30
392690,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,12,9,12,4,4,Medium,Small,31
392683,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680,France,15.00,2011,12,9,12,4,4,Medium,Small,26
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,12,9,12,4,4,Medium,Small,29

Task 54: Sort the dataset by TotalPrice in descending order.

In [602]:
odf.sort_values(by='TotalPrice',ascending=False)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
392226,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.080,16446,UK,168469.600,2011,12,9,9,4,4,High,Large,27
36521,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.040,12346,UK,77183.600,2011,1,18,10,1,1,High,Large,30
153588,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.500,15098,UK,38970.000,2011,6,10,15,4,2,High,Large,30
116868,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.750,16029,UK,8142.750,2011,5,3,13,1,2,High,Small,7
246041,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.060,17450,UK,7144.720,2011,9,20,11,1,3,High,Large,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364817,578757,16216,LETTER SHAPE PENCIL SHARPENER,1,2011-11-25 11:41:00,0.060,12748,UK,0.060,2011,11,25,11,4,4,Low,Small,29
254730,568200,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 14:58:00,0.001,16198,UK,0.001,2011,9,25,14,6,3,Low,Small,26
256543,568375,BANK CHARGES,BANK CHARGES,1,2011-09-26 17:01:00,0.001,13405,UK,0.001,2011,9,26,17,0,3,Low,Small,12
192219,561226,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-07-26 10:13:00,0.001,15618,UK,0.001,2011,7,26,10,1,3,Low,Small,26
105962,550193,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-04-15 09:27:00,0.001,13952,UK,0.001,2011,4,15,9,4,2,Low,Small,26

Task 55: Sort by Country (ascending) and then by TotalPrice (descending).

In [603]:
odf.sort_values(by=['Country','TotalPrice'],ascending=[True, False])

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
340947,576394,23084,RABBIT NIGHT LIGHT,960,2011-11-15 10:32:00,1.79,12415,Australia,1718.40,2011,11,15,10,1,4,High,Large,18
212475,563614,22940,FELTCRAFT CHRISTMAS FAIRY,336,2011-08-18 08:51:00,3.75,12415,Australia,1260.00,2011,8,18,8,3,3,High,Large,25
68524,545475,21217,RED RETROSPOT ROUND CAKE TINS,120,2011-03-03 10:59:00,8.95,12415,Australia,1074.00,2011,3,3,10,3,1,High,Large,29
212545,563614,23314,VINTAGE CHRISTMAS TABLECLOTH,100,2011-08-18 08:51:00,10.39,12415,Australia,1039.00,2011,8,18,8,3,3,High,Large,28
27583,540267,22720,SET OF 3 CAKE TINS PANTRY DESIGN,240,2011-01-06 11:12:00,4.25,12415,Australia,1020.00,2011,1,6,11,3,1,High,Large,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194930,561661,47343A,FUSCHIA FLOWER PURSE WITH BEADS,1,2011-07-28 16:21:00,0.83,12743,Unspecified,0.83,2011,7,28,16,3,3,Low,Small,31
194811,561658,47574A,ENGLISH ROSE SCENTED HANGING FLOWER,1,2011-07-28 16:06:00,0.75,12743,Unspecified,0.75,2011,7,28,16,3,3,Low,Small,35
194875,561658,47348A,FUSCHIA VOILE POINTY SHOE DEC,1,2011-07-28 16:06:00,0.39,12743,Unspecified,0.39,2011,7,28,16,3,3,Low,Small,29
194925,561661,22396,MAGNETS PACK OF 4 RETRO PHOTO,1,2011-07-28 16:21:00,0.39,12743,Unspecified,0.39,2011,7,28,16,3,3,Low,Small,29
194900,561661,79063C,"RETRO PILL BOX KEY CHAIN,THE KING",1,2011-07-28 16:21:00,0.19,12743,Unspecified,0.19,2011,7,28,16,3,3,Low,Small,33

Task 56: Find the 20 highest-value transactions.

In [604]:
odf.sort_values(by='TotalPrice',ascending=False).head(20)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
392226,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446,UK,168469.60,2011,12,9,9,4,4,High,Large,27
36521,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,1,1,High,Large,30
153588,556444,22502,PICNIC BASKET WICKER 60 PIECES,60,2011-06-10 15:28:00,649.50,15098,UK,38970.00,2011,6,10,15,4,2,High,Large,30
116868,551697,POST,POSTAGE,1,2011-05-03 13:46:00,8142.75,16029,UK,8142.75,2011,5,3,13,1,2,High,Small,7
246041,567423,23243,SET OF TEA COFFEE SUGAR TINS PANTRY,1412,2011-09-20 11:05:00,5.06,17450,UK,7144.72,2011,9,20,11,1,3,High,Large,35
108204,550461,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-04-18 13:20:00,2.10,15749,UK,6539.40,2011,4,18,13,0,2,High,Large,34
32199,540815,21108,FAIRY CAKE FLANNEL ASSORTED COLOUR,3114,2011-01-11 12:55:00,2.10,15749,UK,6539.40,2011,1,11,12,1,1,High,Large,34
304623,573003,23084,RABBIT NIGHT LIGHT,2400,2011-10-27 12:11:00,2.08,14646,Netherlands,4992.00,2011,10,27,12,3,4,High,Large,18
32197,540815,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-01-11 12:55:00,2.55,15749,UK,4921.50,2011,1,11,12,1,1,High,Large,34
108200,550461,85123A,WHITE HANGING HEART T-LIGHT HOLDER,1930,2011-04-18 13:20:00,2.40,15749,UK,4632.00,2011,4,18,13,0,2,High,Large,34
32259,540818,48185,DOORMAT FAIRY CAKE,670,2011-01-11 12:57:00,6.75,15749,UK,4522.50,2011,1,11,12,1,1,High,Large,18
169598,558526,23173,REGENCY TEAPOT ROSES,540,2011-06-30 11:01:00,8.15,17949,UK,4401.00,2011,6,30,11,3,2,High,Large,21
108202,550461,48185,DOORMAT FAIRY CAKE,670,2011-04-18 13:20:00,6.35,15749,UK,4254.50,2011,4,18,13,0,2,High,Large,18
201787,562439,84879,ASSORTED COLOUR BIRD ORNAMENT,2880,2011-08-04 18:06:00,1.45,12931,UK,4176.00,2011,8,4,18,3,3,High,Large,29
305341,573077,M,MANUAL,1,2011-10-27 14:13:00,4161.06,12536,France,4161.06,2011,10,27,14,3,4,High,Small,6
305365,573080,M,MANUAL,1,2011-10-27 14:20:00,4161.06,12536,France,4161.06,2011,10,27,14,3,4,High,Small,6
31657,540689,22470,HEART OF WICKER LARGE,1284,2011-01-11 08:43:00,3.21,17450,UK,4121.64,2011,1,11,8,1,1,High,Large,21
292020,571751,M,MANUAL,1,2011-10-19 11:18:00,3949.32,12744,Singapore,3949.32,2011,10,19,11,2,4,High,Small,6
388138,581115,22413,METAL SIGN TAKE IT OR LEAVE IT,1404,2011-12-07 12:20:00,2.75,15195,UK,3861.00,2011,12,7,12,2,4,High,Large,31
10525,537659,21623,VINTAGE UNION JACK MEMOBOARD,600,2010-12-07 16:43:00,6.38,18102,UK,3828.00,2010,12,7,16,1,4,High,Large,28

Task 57: Find the 20 lowest-value transactions (excluding returns).

In [605]:
odf[odf['Quantity'] > 0].sort_values(by='TotalPrice', ascending=True).head(20)

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct
254730,568200,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 14:58:00,0.001,16198,UK,0.001,2011,9,25,14,6,3,Low,Small,26
105962,550193,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-04-15 09:27:00,0.001,13952,UK,0.001,2011,4,15,9,4,2,Low,Small,26
192219,561226,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-07-26 10:13:00,0.001,15618,UK,0.001,2011,7,26,10,1,3,Low,Small,26
256543,568375,BANK CHARGES,BANK CHARGES,1,2011-09-26 17:01:00,0.001,13405,UK,0.001,2011,9,26,17,0,3,Low,Small,12
364817,578757,16216,LETTER SHAPE PENCIL SHARPENER,1,2011-11-25 11:41:00,0.060,12748,UK,0.060,2011,11,25,11,4,4,Low,Small,29
196908,561894,M,MANUAL,1,2011-07-31 15:00:00,0.080,14456,UK,0.080,2011,7,31,15,6,3,Low,Small,6
176900,559509,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-07-08 15:25:00,0.100,15920,UK,0.100,2011,7,8,15,4,3,Low,Small,30
167801,558198,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-06-27 12:49:00,0.100,14104,UK,0.100,2011,6,27,12,0,2,Low,Small,30
362505,578479,17038,PORCELAIN BUDAH INCENSE HOLDER,1,2011-11-24 12:48:00,0.100,15858,UK,0.100,2011,11,24,12,3,4,Low,Small,30
295536,572103,16048,TEATIME ROUND PENCIL SHARPENER,1,2011-10-20 15:57:00,0.120,17571,UK,0.120,2011,10,20,15,3,4,Low,Small,31
94732,548711,47013A,WINE BOTTLE DRESSING LT.BLUE,1,2011-04-03 14:24:00,0.120,18116,UK,0.120,2011,4,3,14,6,2,Low,Small,28
190318,561036,85204,HANGING WOOD AND FELT FLOWER,1,2011-07-24 11:54:00,0.120,13137,UK,0.120,2011,7,24,11,6,3,Low,Small,28
293073,571909,16048,TEATIME ROUND PENCIL SHARPENER,1,2011-10-19 15:08:00,0.120,15006,UK,0.120,2011,10,19,15,2,4,Low,Small,31
110084,550651,21401,BLUE PUDDING SPOON,1,2011-04-19 16:52:00,0.120,15436,UK,0.120,2011,4,19,16,1,2,Low,Small,18
106580,550298,20668,DISCO BALL CHRISTMAS DECORATION,1,2011-04-15 16:11:00,0.120,17346,UK,0.120,2011,4,15,16,4,2,Low,Small,31
226985,565426,85204,HANGING WOOD AND FELT FLOWER,1,2011-09-04 12:41:00,0.120,12851,UK,0.120,2011,9,4,12,6,3,Low,Small,28
276434,570238,16048,TEATIME ROUND PENCIL SHARPENER,1,2011-10-09 15:01:00,0.120,16332,UK,0.120,2011,10,9,15,6,4,Low,Small,31
334062,575856,16219,HOUSE SHAPE PENCIL SHARPENER,2,2011-11-11 12:28:00,0.060,16386,UK,0.120,2011,11,11,12,4,4,Low,Small,28
184362,560359,16008,SMALL FOLDING SCISSOR(POINTED EDGE),1,2011-07-18 11:47:00,0.120,14159,UK,0.120,2011,7,18,11,0,3,Low,Small,35
177047,559525,21402,RED EGG SPOON,1,2011-07-10 10:30:00,0.120,16923,UK,0.120,2011,7,10,10,6,3,Low,Small,15

PART H: Aggregation and Summary Statistics

Task 58: Calculate the total revenue generated across all transactions.

In [606]:
odf['TotalPrice'].sum()

np.float64(8887208.894)

In [607]:
total_revenue = odf['TotalPrice'].sum()
total_revenue

np.float64(8887208.894)

Task 59: Calculate the average transaction value.

In [608]:
odf['TotalPrice'].mean()

np.float64(22.6314997351614)

Task 60: Find the maximum and minimum transaction values.

In [609]:
odf['TotalPrice'].max()

168469.6

In [610]:
odf['TotalPrice'].min()

0.001

Task 61: Calculate the total number of unique customers.

In [611]:
odf['CustomerID'].nunique()

4338

Task 62: Calculate the total number of unique products sold.

In [612]:
odf['ProductName'].nunique()

3877

Task 63: Find out how many unique countries are represented in the data.

In [613]:
odf['Country'].nunique()

37


Task 64: Calculate the average number of items per transaction.

In [614]:
odf['Quantity'].mean()

np.float64(13.1197019547126)

Task 65: Find which product appears most frequently in transactions.

In [615]:
odf['ProductName'].value_counts().head(1)

ProductName
WHITE HANGING HEART T-LIGHT HOLDER    2016
Name: count, dtype: int64

PART I: Country-wise Analysis

Task 66: Calculate total revenue for each country.

In [616]:
odf.groupby('Country')['TotalPrice'].sum()

Country
Australia                138453.810
Austria                   10198.680
Bahrain                     548.400
Belgium                   41196.340
Brazil                     1143.600
Canada                     3666.380
Channel Islands           20440.540
Cyprus                    13502.850
Czech Republic              826.740
Denmark                   18955.340
European Community         1300.250
Finland                   22546.080
France                   208934.310
Germany                  228678.400
Greece                     4760.520
Iceland                    4310.000
Ireland                  265262.460
Israel                     7215.840
Italy                     17483.240
Japan                     37416.370
Lebanon                    1693.880
Lithuania                  1661.060
Malta                      2725.590
Netherlands              285446.340
Norway                    36165.440
Poland                     7334.650
Portugal                  33375.840
RSA                        1002.310
Saudi Arabia                145.920
Singapore                 21279.290
Spain                     61558.560
Sweden                    38367.830
Switzerland               56443.950
UK                      7285024.644
USA                        3580.390
United Arab Emirates       1902.280
Unspecified                2660.770
Name: TotalPrice, dtype: float64

Task 67: Find the top 10 countries by total revenue.

In [617]:
odf.groupby('Country')['TotalPrice'].sum().sort_values(ascending=False).head(10)

Country
UK             7285024.644
Netherlands     285446.340
Ireland         265262.460
Germany         228678.400
France          208934.310
Australia       138453.810
Spain            61558.560
Switzerland      56443.950
Belgium          41196.340
Sweden           38367.830
Name: TotalPrice, dtype: float64

Task 68: Calculate the number of transactions per country.

In [618]:
odf.groupby('Country')['InvoiceNo'].count()

Country
Australia                 1181
Austria                    398
Bahrain                     17
Belgium                   2031
Brazil                      32
Canada                     151
Channel Islands            747
Cyprus                     603
Czech Republic              25
Denmark                    380
European Community          60
Finland                    685
France                    8326
Germany                   9025
Greece                     145
Iceland                    182
Ireland                   7226
Israel                     245
Italy                      758
Japan                      321
Lebanon                     45
Lithuania                   35
Malta                      112
Netherlands               2359
Norway                    1071
Poland                     330
Portugal                  1453
RSA                         57
Saudi Arabia                 9
Singapore                  222
Spain                     2479
Sweden                     450
Switzerland               1841
UK                      349203
USA                        179
United Arab Emirates        68
Unspecified                241
Name: InvoiceNo, dtype: int64

Task 69: Calculate the average transaction value for each country.

In [619]:
odf.groupby('Country')['TotalPrice'].mean()

Country
Australia               117.234386
Austria                  25.624824
Bahrain                  32.258824
Belgium                  20.283772
Brazil                   35.737500
Canada                   24.280662
Channel Islands          27.363507
Cyprus                   22.392786
Czech Republic           33.069600
Denmark                  49.882474
European Community       21.670833
Finland                  32.913985
France                   25.094200
Germany                  25.338327
Greece                   32.831172
Iceland                  23.681319
Ireland                  36.709446
Israel                   29.452408
Italy                    23.064960
Japan                   116.561900
Lebanon                  37.641778
Lithuania                47.458857
Malta                    24.335625
Netherlands             121.003111
Norway                   33.767918
Poland                   22.226212
Portugal                 22.970296
RSA                      17.584386
Saudi Arabia             16.213333
Singapore                95.852658
Spain                    24.832013
Sweden                   85.261844
Switzerland              30.659397
UK                       20.861862
USA                      20.002179
United Arab Emirates     27.974706
Unspecified              11.040539
Name: TotalPrice, dtype: float64

Task 70: Find which country has the highest average order value.

In [620]:
odf.groupby('Country')['TotalPrice'].mean().max()

121.00311148791862

In [621]:
odf.groupby('Country')['TotalPrice'].mean().idxmax()

'Netherlands'

Task 71: Calculate the total quantity of products sold to each country.

In [622]:
odf.groupby('Country')['Quantity'].sum()

Country
Australia                 83891
Austria                    4881
Bahrain                     260
Belgium                   23237
Brazil                      356
Canada                     2763
Channel Islands            9485
Cyprus                     6340
Czech Republic              671
Denmark                    8235
European Community          499
Finland                   10704
France                   111428
Germany                  119154
Greece                     1557
Iceland                    2458
Ireland                  140133
Israel                     4043
Italy                      8112
Japan                     26016
Lebanon                     386
Lithuania                   652
Malta                       970
Netherlands              200361
Norway                    19336
Poland                     3684
Portugal                  16095
RSA                         351
Saudi Arabia                 80
Singapore                  5241
Spain                     27933
Sweden                    36078
Switzerland               30082
UK                      4241305
USA                        2458
United Arab Emirates        982
Unspecified                1785
Name: Quantity, dtype: int64

Task 72: Find the country with the most unique customers.

In [623]:
odf.groupby('Country')['CustomerID'].nunique().sort_values(ascending=False)

Country
UK                      3920
Germany                   94
France                    87
Spain                     30
Belgium                   25
Switzerland               21
Portugal                  19
Italy                     14
Finland                   12
Austria                   11
Norway                    10
Australia                  9
Channel Islands            9
Netherlands                9
Denmark                    9
Cyprus                     8
Sweden                     8
Japan                      8
Poland                     6
Unspecified                4
USA                        4
Greece                     4
Canada                     4
Ireland                    3
Israel                     3
United Arab Emirates       2
Bahrain                    2
Malta                      2
Brazil                     1
Lebanon                    1
Iceland                    1
Czech Republic             1
European Community         1
Saudi Arabia               1
RSA                        1
Lithuania                  1
Singapore                  1
Name: CustomerID, dtype: int64

PART J: Time-based Analysis

Task 73: Calculate total revenue for each month.

In [624]:
odf.groupby('Month')['TotalPrice'].sum()

Month
1      568101.310
2      446084.920
3      594081.760
4      468374.331
5      677355.150
6      660046.050
7      598962.901
8      644051.040
9      950690.202
10    1035642.450
11    1156205.610
12    1087613.170
Name: TotalPrice, dtype: float64

Task 74: Find which month had the highest sales.

In [625]:
odf.groupby('Month')['TotalPrice'].sum().idxmax()

np.int32(11)

Task 75: Calculate revenue for each quarter.

In [626]:
odf.groupby('Quarter')['TotalPrice'].sum()

Quarter
1    1608267.990
2    1805775.531
3    2193704.143
4    3279461.230
Name: TotalPrice, dtype: float64

Task 76: Calculate the number of transactions per day of the week.

In [627]:
odf.groupby('DayOfWeek')['TotalPrice'].mean()

DayOfWeek
0    21.229693
1    25.823403
2    23.284595
3    24.898297
4    27.352012
6    12.832293
Name: TotalPrice, dtype: float64

In [628]:
odf.groupby('DayOfWeek')['TotalPrice'].sum()

DayOfWeek
0    1363604.401
1    1697733.801
2    1584283.830
3    1973015.730
4    1483080.811
6     785490.321
Name: TotalPrice, dtype: float64

Task 77: Find which day of the week has the highest average revenue.

In [629]:
odf.groupby('DayOfWeek')['TotalPrice'].mean()

DayOfWeek
0    21.229693
1    25.823403
2    23.284595
3    24.898297
4    27.352012
6    12.832293
Name: TotalPrice, dtype: float64

In [630]:
odf.groupby('DayOfWeek')['TotalPrice'].mean().idxmax()

np.int32(4)

Task 78: Calculate hourly sales patterns (revenue by hour of day).

In [631]:
odf.groupby('Hour')['TotalPrice'].sum()

Hour
6           4.250
7       31059.210
8      281997.790
9      842392.341
10    1259267.591
11    1101177.600
12    1373695.390
13    1168724.200
14     991992.821
15     963559.680
16     467380.560
17     233811.591
18     104744.990
19      48568.400
20      18832.480
Name: TotalPrice, dtype: float64

Task 79: Compare sales between 2010 and 2011.

In [632]:
odf.groupby('Year')['TotalPrice'].sum()

Year
2010     570422.730
2011    8316786.164
Name: TotalPrice, dtype: float64

Task 80: Calculate month-over-month revenue growth rate.

In [633]:
Month_rev = odf.groupby('Month')['TotalPrice'].sum()

monthly_growth = Month_rev.pct_change() * 100
monthly_growth

Month
1           NaN
2    -21.477928
3     33.176831
4    -21.159954
5     44.618333
6     -2.555395
7     -9.254377
8      7.527701
9     47.611003
10     8.935850
11    11.641388
12    -5.932547
Name: TotalPrice, dtype: float64

PART K: Customer Analysis

Task 81: Calculate total spending for each customer.

In [634]:
odf.groupby('CustomerID')['TotalPrice'].sum()

CustomerID
12346    77183.60
12347     4310.00
12348     1797.24
12349     1757.55
12350      334.40
           ...
18280      180.60
18281       80.82
18282      178.05
18283     2045.53
18287     1837.28
Name: TotalPrice, Length: 4338, dtype: float64

Task 82: Find the top 20 customers by total spending.

In [635]:
odf.groupby('CustomerID')['TotalPrice'].sum().sort_values(ascending=False).head(20)

CustomerID
14646    280206.02
18102    259657.30
17450    194390.79
16446    168472.50
14911    143711.17
12415    124914.53
14156    117210.08
17511     91062.38
16029     80850.84
12346     77183.60
16684     66653.56
14096     65164.79
13694     65039.62
15311     60632.75
13089     58762.08
17949     58510.48
15769     56252.72
15061     54534.14
14298     51527.30
14088     50491.81
Name: TotalPrice, dtype: float64

Task 83: Calculate the number of transactions per customer.

In [636]:
odf.groupby('CustomerID')['InvoiceNo'].count()

CustomerID
12346      1
12347    182
12348     31
12349     73
12350     17
        ...
18280     10
18281      7
18282     12
18283    721
18287     70
Name: InvoiceNo, Length: 4338, dtype: int64

Task 84: Find the average order value for each customer.

In [637]:
odf.groupby('CustomerID')['TotalPrice'].mean()

CustomerID
12346    77183.600000
12347       23.681319
12348       57.975484
12349       24.076027
12350       19.670588
             ...
18280       18.060000
18281       11.545714
18282       14.837500
18283        2.837074
18287       26.246857
Name: TotalPrice, Length: 4338, dtype: float64

Task 85: Identify customers who have made only one purchase.

In [638]:
count=odf.groupby('CustomerID')['InvoiceNo'].count()
one_cust=count[count==1]
one_cust

CustomerID
12346    1
13017    1
13099    1
13106    1
13120    1
        ..
18133    1
18174    1
18184    1
18233    1
18268    1
Name: InvoiceNo, Length: 71, dtype: int64

In [639]:
one_cust=count[count==1].count()
one_cust

np.int64(71)

Task 86: Find customers who spent more than 10,000 in total.

In [640]:
total_sp=odf.groupby('CustomerID')['TotalPrice'].sum()
cust=total_sp[total_sp>10000]
cust

CustomerID
12346     77183.60
12409     11072.67
12415    124914.53
12433     13375.87
12471     19788.65
           ...
17841     40519.84
17857     26879.04
17865     10526.32
17949     58510.48
18102    259657.30
Name: TotalPrice, Length: 104, dtype: float64

In [641]:
total_sp[total_sp>10000].count()

np.int64(104)

Task 87: Calculate the average number of days between purchases for each customer.

In [642]:
odf=odf.sort_values(by=['CustomerID','InvoiceDate'])
odf['DaysBetween'] = odf.groupby('CustomerID')['InvoiceDate'].diff().dt.days
avg = odf.groupby('CustomerID')['DaysBetween'].mean()
avg

CustomerID
12346          NaN
12347     2.000000
12348     9.400000
12349     0.000000
12350     0.000000
           ...
18280     0.000000
18281     0.000000
18282    10.727273
18283     0.454167
18287     2.275362
Name: DaysBetween, Length: 4338, dtype: float64

In [643]:
odf.columns

Index(['InvoiceNo', 'StockCode', 'ProductName', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'TotalPrice', 'Year', 'Month',
       'Day', 'Hour', 'DayOfWeek', 'Quarter', 'RevenueCategory', 'OrderSize',
       'LengthOfProduct', 'DaysBetween'],
      dtype='object')

PART L: Product Analysis

Task 88: Find the top 20 products by revenue.

In [644]:
odf.groupby('ProductName')['TotalPrice'].sum(). sort_values(ascending=False).head(20)

ProductName
PAPER CRAFT , LITTLE BIRDIE           168469.60
REGENCY CAKESTAND 3 TIER              142264.75
WHITE HANGING HEART T-LIGHT HOLDER    100392.10
JUMBO BAG RED RETROSPOT                85040.54
MEDIUM CERAMIC TOP STORAGE JAR         81416.73
POSTAGE                                77803.96
PARTY BUNTING                          68785.23
ASSORTED COLOUR BIRD ORNAMENT          56413.03
MANUAL                                 53419.93
RABBIT NIGHT LIGHT                     51251.24
CHILLI LIGHTS                          46265.11
PAPER CHAIN KIT 50'S CHRISTMAS         42584.13
PICNIC BASKET WICKER 60 PIECES         39619.50
BLACK RECORD COVER FRAME               39045.80
JUMBO BAG PINK POLKADOT                37254.36
DOORMAT KEEP CALM AND COME IN          35880.85
SPOTTY BUNTING                         35509.55
WOOD BLACK BOARD ANT WHITE FINISH      34414.71
SET OF 3 CAKE TINS PANTRY DESIGN       33298.30
JAM MAKING SET WITH JARS               32616.22
Name: TotalPrice, dtype: float64


Task 89: Find the top 20 products by quantity sold.

In [645]:
odf.groupby('ProductName')['Quantity'].sum().sort_values(ascending=False).head(20)

ProductName
PAPER CRAFT , LITTLE BIRDIE           80995
MEDIUM CERAMIC TOP STORAGE JAR        77916
WORLD WAR 2 GLIDERS ASSTD DESIGNS     54319
JUMBO BAG RED RETROSPOT               46078
WHITE HANGING HEART T-LIGHT HOLDER    36706
ASSORTED COLOUR BIRD ORNAMENT         35263
PACK OF 72 RETROSPOT CAKE CASES       33670
POPCORN HOLDER                        30919
RABBIT NIGHT LIGHT                    27153
MINI PAINT SET VINTAGE                26076
PACK OF 12 LONDON TISSUES             25329
PACK OF 60 PINK PAISLEY CAKE CASES    24230
BROCADE RING PURSE                    22927
VICTORIAN GLASS HANGING T-LIGHT       22404
ASSORTED COLOURS SILK FAN             21876
RED  HARMONICA IN BOX                 20945
JUMBO BAG PINK POLKADOT               20148
SMALL POPCORN HOLDER                  18241
60 TEATIME FAIRY CAKE CASES           17664
LUNCH BAG RED RETROSPOT               17576
Name: Quantity, dtype: int64

Task 90: Calculate the average price for each product.

In [646]:
odf.groupby('ProductName')['UnitPrice'].mean()

ProductName
 4 PURPLE FLOCK DINNER CANDLES       2.312162
 50'S CHRISTMAS GIFT BAG LARGE       1.248073
 DOLLY GIRL BEAKER                   1.243704
 I LOVE LONDON MINI BACKPACK         4.138406
 I LOVE LONDON MINI RUCKSACK         4.150000
                                      ...
ZINC T-LIGHT HOLDER STARS SMALL      0.836975
ZINC TOP  2 DOOR WOODEN SHELF       16.950000
ZINC WILLIE WINKIE  CANDLE STICK     0.872461
ZINC WIRE KITCHEN ORGANISER          7.175000
ZINC WIRE SWEETHEART LETTER TRAY     3.454000
Name: UnitPrice, Length: 3877, dtype: float64

Task 91: Find products that have been sold to more than 10 different countries.

In [647]:
country_counts = odf.groupby('ProductName')['Country'].nunique()
country_counts[country_counts > 10]

ProductName
 DOLLY GIRL BEAKER                     11
 SPACEBOY BABY GIFT SET                13
10 COLOUR SPACEBOY PEN                 12
12 PENCIL SMALL TUBE WOODLAND          11
12 PENCILS SMALL TUBE RED RETROSPOT    11
                                       ..
WRAP PAISLEY PARK                      14
WRAP RED APPLES                        14
WRAP RED VINTAGE DOILY                 12
ZINC FOLKART SLEIGH BELLS              11
ZINC METAL HEART DECORATION            11
Name: Country, Length: 495, dtype: int64

Task 92: Identify the most expensive and cheapest products.

In [648]:
odf.groupby('ProductName')['UnitPrice'].max().idxmax()

'POSTAGE'

In [649]:
odf.groupby('ProductName')['UnitPrice'].max().idxmin()

'PADS TO MATCH ALL CUSHIONS'

PART M: Advanced Grouping

Task 93: Calculate total revenue by Country and Year.

In [650]:
odf.groupby(['Country','Year'])['TotalPrice'].sum()

Country               Year
Australia             2010        965.350
                      2011     137488.460
Austria               2010        277.200
                      2011       9921.480
Bahrain               2011        548.400
Belgium               2010       1809.910
                      2011      39386.430
Brazil                2011       1143.600
Canada                2011       3666.380
Channel Islands       2010        363.530
                      2011      20077.010
Cyprus                2010       1587.070
                      2011      11915.780
Czech Republic        2011        826.740
Denmark               2010       1281.500
                      2011      17673.840
European Community    2011       1300.250
Finland               2010        892.800
                      2011      21653.280
France                2010       9616.310
                      2011     199318.000
Germany               2010      15205.740
                      2011     213472.660
Greece                2011       4760.520
Iceland               2010        711.790
                      2011       3598.210
Ireland               2010       8813.880
                      2011     256448.580
Israel                2011       7215.840
Italy                 2010        811.500
                      2011      16671.740
Japan                 2010       7705.070
                      2011      29711.300
Lebanon               2011       1693.880
Lithuania             2010       1661.060
Malta                 2011       2725.590
Netherlands           2010       8784.480
                      2011     276661.860
Norway                2010       3787.120
                      2011      32378.320
Poland                2010        248.160
                      2011       7086.490
Portugal              2010       2439.970
                      2011      30935.870
RSA                   2011       1002.310
Saudi Arabia          2011        145.920
Singapore             2011      21279.290
Spain                 2010       1843.730
                      2011      59714.830
Sweden                2010       3834.300
                      2011      34533.530
Switzerland           2010       1304.920
                      2011      55139.030
UK                    2010     496477.340
                      2011    6788547.304
USA                   2011       3580.390
United Arab Emirates  2011       1902.280
Unspecified           2011       2660.770
Name: TotalPrice, dtype: float64

Task 94: Calculate average transaction value by Country and Quarter.

In [651]:
odf.groupby(['Country','Quarter'])['TotalPrice'].mean()

Country               Quarter
Australia             1          126.349136
                      2          130.685743
                      3           88.479103
                      4          136.336559
Austria               1           57.089231
                                    ...
USA                   4           20.359490
United Arab Emirates  1           29.641333
                      3           26.658947
Unspecified           2           18.577222
                      3            7.829645
Name: TotalPrice, Length: 117, dtype: float64

Task 95: Find the number of transactions by Country and Month.

In [652]:
odf.groupby(['Country','Month'])['InvoiceNo'].count()

Country      Month
Australia    1        127
             2         89
             3        108
             4         18
             5        116
                     ...
Unspecified  4         16
             5         47
             6          9
             7        146
             8         23
Name: InvoiceNo, Length: 271, dtype: int64

Task 96: Calculate total revenue by Day of Week and Hour.

In [653]:
odf.groupby(['DayOfWeek','Hour'])['TotalPrice'].sum()

DayOfWeek  Hour
0          7         1494.580
           8        43343.390
           9       123955.190
           10      183627.120
           11      160302.060
                      ...
6          12      152903.710
           13      137280.880
           14      104196.381
           15      129053.660
           16       38799.070
Name: TotalPrice, Length: 73, dtype: float64

Task 97: For each country, calculate the sum, mean, maximum, and minimum TotalPrice.

In [654]:
odf.groupby('Country')['TotalPrice'].agg(['sum', 'mean', 'max', 'min'])

                              sum        mean        max     min
Country
Australia              138453.810  117.234386    1718.40   0.420
Austria                 10198.680   25.624824     360.00   2.880
Bahrain                   548.400   32.258824     120.00  11.600
Belgium                 41196.340   20.283772     165.00   2.500
Brazil                   1143.600   35.737500     175.20  15.000
Canada                   3666.380   24.280662     550.94   2.500
Channel Islands         20440.540   27.363507     408.00   4.560
Cyprus                  13502.850   22.392786     320.69   0.830
Czech Republic            826.740   33.069600      70.80  10.080
Denmark                 18955.340   49.882474     428.40   4.680
European Community       1300.250   21.670833      60.00   7.800
Finland                 22546.080   32.913985     551.20   2.340
France                 208934.310   25.094200    4161.06   0.290
Germany                228678.400   25.338327     876.00   0.390
Greece                   4760.520   32.831172     175.20   3.360
Iceland                  4310.000   23.681319     249.60   5.040
Ireland                265262.460   36.709446    2365.20   1.250
Israel                   7215.840   29.452408     350.40   0.950
Italy                   17483.240   23.064960     300.00   2.880
Japan                   37416.370  116.561900    3794.40   0.290
Lebanon                  1693.880   37.641778     153.00  10.200
Lithuania                1661.060   47.458857     122.40  13.200
Malta                    2725.590   24.335625     455.00   2.280
Netherlands            285446.340  121.003111    4992.00   0.390
Norway                  36165.440   33.767918     700.00   2.880
Poland                   7334.650   22.226212     120.00   6.600
Portugal                33375.840   22.970296    1241.98   0.290
RSA                      1002.310   17.584386      38.25   5.040
Saudi Arabia              145.920   16.213333      19.80   5.040
Singapore               21279.290   95.852658    3949.32   2.340
Spain                   61558.560   24.832013    1350.00   0.210
Sweden                  38367.830   85.261844    1188.00   5.040
Switzerland             56443.950   30.659397     360.00   2.000
UK                    7285024.644   20.861862  168469.60   0.001
USA                      3580.390   20.002179      81.36   1.250
United Arab Emirates     1902.280   27.974706     153.00   3.480
Unspecified              2660.770   11.040539      69.36   0.190


Task 98: For each customer, calculate their total spending, number of orders, and average order value.

In [655]:
odf.groupby('CustomerID').agg(
    Total_Spending=('TotalPrice', 'sum'),
    No_of_Orders=('InvoiceNo', 'count'),
    Avg_Order_Value=('TotalPrice', 'mean')
)

            Total_Spending  No_of_Orders  Avg_Order_Value
CustomerID
12346             77183.60             1     77183.600000
12347              4310.00           182        23.681319
12348              1797.24            31        57.975484
12349              1757.55            73        24.076027
12350               334.40            17        19.670588
...                    ...           ...              ...
18280               180.60            10        18.060000
18281                80.82             7        11.545714
18282               178.05            12        14.837500
18283              2045.53           721         2.837074
18287              1837.28            70        26.246857

[4338 rows x 3 columns]

Task 99: For each product, calculate total quantity sold and total revenue generated.

In [656]:
odf.groupby('ProductName').agg(
     tot_Quantity=('Quantity','sum'),
     tot_Revenue=('TotalPrice','sum')
)

                                  tot_Quantity  tot_Revenue
ProductName
 4 PURPLE FLOCK DINNER CANDLES             138       265.66
 50'S CHRISTMAS GIFT BAG LARGE            1885      2272.25
 DOLLY GIRL BEAKER                        2394      2754.50
 I LOVE LONDON MINI BACKPACK               359      1449.85
 I LOVE LONDON MINI RUCKSACK                 1         4.15
...                                        ...          ...
ZINC T-LIGHT HOLDER STARS SMALL           4894      3879.98
ZINC TOP  2 DOOR WOODEN SHELF               10       169.50
ZINC WILLIE WINKIE  CANDLE STICK          2606      2176.10
ZINC WIRE KITCHEN ORGANISER                 25       156.80
ZINC WIRE SWEETHEART LETTER TRAY            80       253.24

[3877 rows x 2 columns]

PART N: Creating Summary Reports

Task 100: Create a summary table showing monthly sales for each country (countries as rows, months as columns).

In [657]:
pt1 = odf.pivot_table(
    index='Country',
    columns='Month',
    values='TotalPrice',
    aggfunc='sum',
    fill_value=0
)
pt1

Month,1,2,3,4,5,6,7,8,9,10,11,12
Country,,,,,,,,,,,,
Australia,9017.71,14695.42,17223.99,771.600,13638.41,25187.77,4964.380,22489.20,5106.730,17150.53,7242.72,965.35
Austria,0.00,518.36,1708.12,680.780,1249.43,0.00,1191.950,1516.08,0.000,1043.78,1329.78,960.40
Bahrain,0.00,0.00,0.00,0.000,548.40,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Belgium,1200.20,2181.07,3351.98,1989.480,2732.40,4274.82,2475.570,3554.02,4208.020,5685.38,6315.76,3227.64
Brazil,0.00,0.00,0.00,1143.600,0.00,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Canada,0.00,0.00,140.54,0.000,534.24,1171.46,1768.580,51.56,0.000,0.00,0.00,0.00
Channel Islands,675.58,1784.71,3509.33,293.000,1207.24,2060.03,0.000,4886.88,1323.750,2623.32,1514.77,561.93
Cyprus,547.50,4334.24,938.39,0.000,0.00,1109.32,0.000,0.00,196.350,4350.32,439.66,1587.07
Czech Republic,0.00,549.26,0.00,0.000,0.00,0.00,0.000,0.00,0.000,277.48,0.00,0.00
Denmark,0.00,399.22,3978.99,0.000,515.70,3261.15,376.240,213.15,4570.160,1490.76,2699.57,1450.40
European Community,0.00,0.00,0.00,191.400,0.00,432.05,676.800,0.00,0.000,0.00,0.00,0.00
Finland,889.02,205.16,5936.82,1688.920,0.00,329.56,2996.730,1376.50,1105.450,2822.12,3070.24,2125.56
France,17740.12,8515.96,14584.95,5529.610,17606.48,16078.97,10000.190,13810.96,23428.040,33471.05,31274.75,16893.23
Germany,16880.84,9581.05,14392.69,12315.540,25734.70,13246.35,16440.980,19220.77,18079.470,31628.42,27967.68,23189.91
Greece,2661.24,0.00,387.31,609.740,0.00,0.00,421.240,0.00,0.000,0.00,0.00,680.99
Iceland,475.39,0.00,0.00,636.250,0.00,382.52,0.000,584.91,0.000,1294.32,0.00,936.61
Ireland,21904.19,10111.52,21674.36,7570.500,15977.15,19835.99,40854.150,16957.83,40832.640,24302.92,29448.41,15792.80
Israel,0.00,779.10,0.00,0.000,0.00,0.00,1430.750,4873.81,0.000,132.18,0.00,0.00
Italy,2402.51,256.00,1806.81,737.830,587.45,202.07,147.100,1990.95,279.800,3489.69,4571.08,1011.95
Japan,0.00,5780.81,48.90,6548.500,1351.45,1607.04,3854.400,0.00,112.080,1948.04,8460.08,7705.07
Lebanon,1693.88,0.00,0.00,0.000,0.00,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Lithuania,0.00,0.00,0.00,0.000,0.00,0.00,0.000,0.00,0.000,0.00,0.00,1661.06
Malta,0.00,0.00,0.00,0.000,0.00,863.16,0.000,1119.00,0.000,0.00,743.43,0.00
Netherlands,26611.16,23011.91,22416.49,2976.560,29185.88,26858.09,26.020,40327.81,26937.260,40708.65,25874.01,20512.50
Norway,0.00,630.90,1265.31,0.000,0.00,5886.86,890.070,2025.81,8678.940,3687.23,6527.50,6572.82
Poland,613.22,604.05,317.78,705.840,1522.37,343.65,687.300,401.80,529.250,0.00,1361.23,248.16
Portugal,4055.71,1213.90,2660.85,1687.750,4202.23,884.46,2287.850,1221.40,1433.220,5877.01,2603.30,5248.16
RSA,0.00,0.00,0.00,0.000,0.00,0.00,0.000,0.00,0.000,1002.31,0.00,0.00
Saudi Arabia,0.00,145.92,0.00,0.000,0.00,0.00,0.000,0.00,0.000,0.00,0.00,0.00
Singapore,2053.07,0.00,0.00,8209.580,0.00,0.00,3949.320,0.00,0.000,7067.32,0.00,0.00
Spain,10086.09,2114.50,5363.15,1785.650,3257.60,3333.21,7620.770,3342.41,5189.240,8636.94,8669.06,2159.94
Sweden,3486.32,509.50,4720.58,809.100,2681.98,832.00,6802.090,1390.36,4575.210,5766.16,2722.23,4072.30
Switzerland,4231.23,2654.92,1870.23,2076.940,3610.01,7904.15,3762.650,4969.89,8284.860,7655.19,8118.96,1304.92
UK,440876.33,354618.20,465784.19,408733.111,550359.35,523775.59,484545.591,497194.91,794806.692,821220.13,975251.39,967859.16
USA,0.00,0.00,0.00,383.950,0.00,0.00,0.000,0.00,0.000,2311.20,0.00,885.24
United Arab Emirates,0.00,889.24,0.00,0.000,0.00,0.00,0.000,0.00,1013.040,0.00,0.00,0.00
Unspecified,0.00,0.00,0.00,299.100,852.68,185.78,792.180,531.03,0.000,0.00,0.00,0.00

Task 101: Create a summary showing average quantity purchased by country and quarter.

In [658]:
pt2 = odf.pivot_table(
    index='Country',
    columns='Quarter',
    values='Quantity',
    aggfunc='mean',
    fill_value=0
)
pt2

Quarter                        1           2          3          4
Country
Australia              76.429012   83.184818  59.692935  64.279570
Austria                33.948718   10.220779   9.531469  10.122302
Bahrain                 0.000000   15.294118   0.000000   0.000000
Belgium                10.943452   10.663286  11.298419  12.336207
Brazil                  0.000000   11.125000   0.000000   0.000000
Canada                  8.800000   27.517241  13.000000   0.000000
Channel Islands        14.855856    9.330645  13.563725  11.487310
Cyprus                 15.181818    7.574468  33.000000   7.794030
Czech Republic         23.066667    0.000000   0.000000  32.500000
Denmark                28.282051   15.296000  27.683544  22.138686
European Community      0.000000    5.290323  11.551724   0.000000
Finland                14.523207   18.396226  14.016949  17.458716
France                 14.319975   14.233399  12.955718  12.764706
Germany                12.749697   14.133297  12.878070  13.132771
Greece                 15.092593    8.451613  10.166667   6.555556
Iceland                10.862069   16.166667  12.590909  13.337079
Ireland                21.918970   17.206720  23.000439  16.282892
Israel                 17.875000    0.000000  18.489899   3.096774
Italy                   9.411765   17.727273  10.491379  10.443864
Japan                  29.900990  172.765625  57.488372  83.778761
Lebanon                 8.577778    0.000000   0.000000   0.000000
Lithuania               0.000000    0.000000   0.000000  18.628571
Malta                   0.000000    8.933333   6.945455  15.500000
Netherlands            85.060956   73.619893  88.293561  91.773071
Norway                  8.200000   12.102410  17.917683  21.070881
Poland                 12.048387   10.263636   9.202532  13.683544
Portugal               14.802768    8.229268  16.475490   8.965563
RSA                     0.000000    0.000000   0.000000   6.157895
Saudi Arabia            8.888889    0.000000   0.000000   0.000000
Singapore              19.482143   24.368421  28.800000  17.676471
Spain                  10.692194   10.363874  11.533632  12.013351
Sweden                108.074074   40.306818  89.000000  80.786667
Switzerland            15.943574   20.014085  15.158974  15.503436
UK                     12.943920   12.176077  13.063251  11.255354
USA                     0.000000    6.227273   0.000000  14.783439
United Arab Emirates   16.533333    0.000000  12.789474   0.000000
Unspecified             0.000000   14.083333   4.562130   0.000000

Task 102: Create a table showing the count of transactions in each RevenueCategory by Country.

In [659]:
pt3 = odf.pivot_table(
    index='Country',
    columns='RevenueCategory',
    values='InvoiceNo',
    aggfunc='count',
    fill_value=0
)
pt3

RevenueCategory       High     Low  Medium
Country
Australia              445      82     654
Austria                 13      37     348
Bahrain                  1       0      16
Belgium                 16     209    1806
Brazil                   1       0      31
Canada                   2      19     130
Channel Islands         22      20     705
Cyprus                  14     142     447
Czech Republic           0       0      25
Denmark                 43      28     309
European Community       0       1      59
Finland                 42      66     577
France                 165    1284    6877
Germany                246    1155    7624
Greece                  12      17     116
Iceland                  3      13     166
Ireland                457     793    5976
Israel                  14      52     179
Italy                    8      44     706
Japan                  126      58     137
Lebanon                  3       0      42
Lithuania                1       0      34
Malta                    2      12      98
Netherlands           1132     198    1029
Norway                  43      59     969
Poland                   2      25     303
Portugal                23     354    1076
RSA                      0       3      54
Saudi Arabia             0       1       8
Singapore               16      13     193
Spain                   73     637    1769
Sweden                 136      28     286
Switzerland             95     148    1598
UK                    8493  164356  176354
USA                      0      22     157
United Arab Emirates     1       7      60
Unspecified              0     126     115

In [660]:
odf.columns

Index(['InvoiceNo', 'StockCode', 'ProductName', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country', 'TotalPrice', 'Year', 'Month',
       'Day', 'Hour', 'DayOfWeek', 'Quarter', 'RevenueCategory', 'OrderSize',
       'LengthOfProduct', 'DaysBetween'],
      dtype='object')

PART O: Data Transformation

Task 103: Add a column to each row showing what percentage of the monthly total revenue that transaction represents.

In [661]:
monthly_totals = odf.groupby('Month')['TotalPrice'].transform('sum')

odf['Percent_Of_Month_Rev']=(odf['TotalPrice']/monthly_totals)*100
odf

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,Month,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct,DaysBetween,Percent_Of_Month_Rev
36521,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,1,18,10,1,1,High,Large,30,NaN,13.586239
10256,537626,85116,BLACK CANDELABRA T-LIGHT HOLDER,12,2010-12-07 14:57:00,2.10,12347,Iceland,25.20,2010,12,7,14,1,4,Medium,Medium,31,NaN,0.002317
10257,537626,22375,AIRLINE BAG VINTAGE JET SET BROWN,4,2010-12-07 14:57:00,4.25,12347,Iceland,17.00,2010,12,7,14,1,4,Medium,Small,33,0.0,0.001563
10258,537626,71477,COLOUR GLASS. STAR T-LIGHT HOLDER,12,2010-12-07 14:57:00,3.25,12347,Iceland,39.00,2010,12,7,14,1,4,Medium,Medium,33,0.0,0.003586
10259,537626,22492,MINI PAINT SET VINTAGE,36,2010-12-07 14:57:00,0.65,12347,Iceland,23.40,2010,12,7,14,1,4,Medium,Large,23,0.0,0.002152
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281420,570715,22419,LIPSTICK PEN RED,12,2011-10-12 10:23:00,0.42,18287,UK,5.04,2011,10,12,10,2,4,Low,Medium,16,0.0,0.000487
281421,570715,22866,HAND WARMER SCOTTY DOG DESIGN,12,2011-10-12 10:23:00,2.10,18287,UK,25.20,2011,10,12,10,2,4,Medium,Medium,29,0.0,0.002433
306649,573167,23264,SET OF 3 WOODEN SLEIGH DECORATIONS,36,2011-10-28 09:29:00,1.25,18287,UK,45.00,2011,10,28,9,4,4,Medium,Large,34,15.0,0.004345
306650,573167,21824,PAINTED METAL STAR WITH HOLLY BELLS,48,2011-10-28 09:29:00,0.39,18287,UK,18.72,2011,10,28,9,4,4,Medium,Large,35,0.0,0.001808
306651,573167,21014,SWISS CHALET TREE DECORATION,24,2011-10-28 09:29:00,0.29,18287,UK,6.96,2011,10,28,9,4,4,Low,Large,29,0.0,0.000672

Task 104: Add a column showing each customer's ranking based on their total spending.

In [662]:
total_spending = odf.groupby('CustomerID')['TotalPrice'].transform('sum')
odf['Customer_Rank'] = total_spending.rank(method='dense', ascending=False)

In [663]:
odf

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,...,Day,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct,DaysBetween,Percent_Of_Month_Rev,Customer_Rank
36521,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346,UK,77183.60,2011,...,18,10,1,1,High,Large,30,NaN,13.586239,10.0
10256,537626,85116,BLACK CANDELABRA T-LIGHT HOLDER,12,2010-12-07 14:57:00,2.10,12347,Iceland,25.20,2010,...,7,14,1,4,Medium,Medium,31,NaN,0.002317,335.0
10257,537626,22375,AIRLINE BAG VINTAGE JET SET BROWN,4,2010-12-07 14:57:00,4.25,12347,Iceland,17.00,2010,...,7,14,1,4,Medium,Small,33,0.0,0.001563,335.0
10258,537626,71477,COLOUR GLASS. STAR T-LIGHT HOLDER,12,2010-12-07 14:57:00,3.25,12347,Iceland,39.00,2010,...,7,14,1,4,Medium,Medium,33,0.0,0.003586,335.0
10259,537626,22492,MINI PAINT SET VINTAGE,36,2010-12-07 14:57:00,0.65,12347,Iceland,23.40,2010,...,7,14,1,4,Medium,Large,23,0.0,0.002152,335.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281420,570715,22419,LIPSTICK PEN RED,12,2011-10-12 10:23:00,0.42,18287,UK,5.04,2011,...,12,10,2,4,Low,Medium,16,0.0,0.000487,980.0
281421,570715,22866,HAND WARMER SCOTTY DOG DESIGN,12,2011-10-12 10:23:00,2.10,18287,UK,25.20,2011,...,12,10,2,4,Medium,Medium,29,0.0,0.002433,980.0
306649,573167,23264,SET OF 3 WOODEN SLEIGH DECORATIONS,36,2011-10-28 09:29:00,1.25,18287,UK,45.00,2011,...,28,9,4,4,Medium,Large,34,15.0,0.004345,980.0
306650,573167,21824,PAINTED METAL STAR WITH HOLLY BELLS,48,2011-10-28 09:29:00,0.39,18287,UK,18.72,2011,...,28,9,4,4,Medium,Large,35,0.0,0.001808,980.0
306651,573167,21014,SWISS CHALET TREE DECORATION,24,2011-10-28 09:29:00,0.29,18287,UK,6.96,2011,...,28,9,4,4,Low,Large,29,0.0,0.000672,980.0

Task 105: Add a column showing the cumulative revenue over time.

In [664]:
odf = odf.sort_values('InvoiceDate')

odf['Cumulative_Revenue'] = odf['TotalPrice'].cumsum()

In [665]:
odf

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,...,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct,DaysBetween,Percent_Of_Month_Rev,Customer_Rank,Cumulative_Revenue
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,8,2,4,Medium,Medium,30,0.0,0.001870,248.0,2.034000e+01
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,...,8,2,4,Medium,Medium,34,NaN,0.001407,248.0,3.564000e+01
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,8,2,4,Medium,Medium,19,0.0,0.001870,248.0,5.598000e+01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,...,8,2,4,Medium,Medium,30,0.0,0.002023,248.0,7.798000e+01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,8,2,4,Medium,Medium,35,0.0,0.001870,248.0,9.832000e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,...,12,4,4,Medium,Medium,27,0.0,0.000938,1826.0,8.887145e+06
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,...,12,4,4,Medium,Medium,28,0.0,0.001159,1826.0,8.887158e+06
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,...,12,4,4,Medium,Small,29,0.0,0.001526,1826.0,8.887174e+06
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,...,12,4,4,Medium,Small,29,0.0,0.001365,1826.0,8.887189e+06
392678,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,...,12,4,4,Medium,Medium,30,0.0,0.001821,1826.0,8.887209e+06

PART P: Combining Analysis

Task 106: Split the dataset into two parts: 2010 data and 2011 data. Then combine them back together vertically.

In [666]:
df_2010=odf[odf['Year']==2010]
df_2011=odf[odf['Year']==2011]
df_2010

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,...,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct,DaysBetween,Percent_Of_Month_Rev,Customer_Rank,Cumulative_Revenue
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,8,2,4,Medium,Medium,30,0.0,0.001870,248.0,20.34
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,...,8,2,4,Medium,Medium,34,NaN,0.001407,248.0,35.64
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,8,2,4,Medium,Medium,19,0.0,0.001870,248.0,55.98
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,...,8,2,4,Medium,Medium,30,0.0,0.002023,248.0,77.98
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,8,2,4,Medium,Medium,35,0.0,0.001870,248.0,98.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25627,539988,22624,IVORY KITCHEN SCALES,1,2010-12-23 16:06:00,8.50,18116,UK,8.50,2010,...,16,3,4,Low,Small,20,0.0,0.000782,1259.0,570411.23
25626,539988,22217,T-LIGHT HOLDER HANGING LACE,2,2010-12-23 16:06:00,1.25,18116,UK,2.50,2010,...,16,3,4,Low,Small,27,0.0,0.000230,1259.0,570413.73
25625,539988,84755,COLOUR GLASS T-LIGHT HOLDER HANGING,8,2010-12-23 16:06:00,0.65,18116,UK,5.20,2010,...,16,3,4,Low,Medium,35,0.0,0.000478,1259.0,570418.93
25624,539988,22175,PINK OWL SOFT TOY,1,2010-12-23 16:06:00,2.95,18116,UK,2.95,2010,...,16,3,4,Low,Small,17,0.0,0.000271,1259.0,570421.88
25595,539988,22565,FELTCRAFT HAIRBANDS PINK AND WHITE,1,2010-12-23 16:06:00,0.85,18116,UK,0.85,2010,...,16,3,4,Low,Small,35,0.0,0.000078,1259.0,570422.73

In [667]:
combined_df = pd.concat([df_2010, df_2011], axis=0)
combined_df

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,...,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct,DaysBetween,Percent_Of_Month_Rev,Customer_Rank,Cumulative_Revenue
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,8,2,4,Medium,Medium,30,0.0,0.001870,248.0,2.034000e+01
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,...,8,2,4,Medium,Medium,34,NaN,0.001407,248.0,3.564000e+01
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,8,2,4,Medium,Medium,19,0.0,0.001870,248.0,5.598000e+01
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,...,8,2,4,Medium,Medium,30,0.0,0.002023,248.0,7.798000e+01
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,8,2,4,Medium,Medium,35,0.0,0.001870,248.0,9.832000e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,...,12,4,4,Medium,Medium,27,0.0,0.000938,1826.0,8.887145e+06
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,...,12,4,4,Medium,Medium,28,0.0,0.001159,1826.0,8.887158e+06
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,...,12,4,4,Medium,Small,29,0.0,0.001526,1826.0,8.887174e+06
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,...,12,4,4,Medium,Small,29,0.0,0.001365,1826.0,8.887189e+06
392678,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,...,12,4,4,Medium,Medium,30,0.0,0.001821,1826.0,8.887209e+06

In [668]:
odf.reset_index()

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,...,Hour,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct,DaysBetween,Percent_Of_Month_Rev,Customer_Rank,Cumulative_Revenue
0,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,...,8,2,4,Medium,Medium,30,0.0,0.001870,248.0,2.034000e+01
1,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,...,8,2,4,Medium,Medium,34,NaN,0.001407,248.0,3.564000e+01
2,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,...,8,2,4,Medium,Medium,19,0.0,0.001870,248.0,5.598000e+01
3,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,...,8,2,4,Medium,Medium,30,0.0,0.002023,248.0,7.798000e+01
4,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,...,8,2,4,Medium,Medium,35,0.0,0.001870,248.0,9.832000e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,...,12,4,4,Medium,Medium,27,0.0,0.000938,1826.0,8.887145e+06
392688,392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,...,12,4,4,Medium,Medium,28,0.0,0.001159,1826.0,8.887158e+06
392689,392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,...,12,4,4,Medium,Small,29,0.0,0.001526,1826.0,8.887174e+06
392690,392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,...,12,4,4,Medium,Small,29,0.0,0.001365,1826.0,8.887189e+06
392691,392678,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680,France,19.80,...,12,4,4,Medium,Medium,30,0.0,0.001821,1826.0,8.887209e+06

Task 107: Create separate datasets for UK and non-UK transactions. Combine them back horizontally with appropriate labeling.

In [669]:
df_uk = odf[odf['Country'] == "UK"]
df_non_uk = odf[odf['Country'] != "UK"]

df_uk = df_uk.copy()
df_non_uk = df_non_uk.copy()

df_uk['Type'] = "UK"
df_non_uk['Type'] = "Non-UK"

combined_horizontal = pd.concat([df_uk, df_non_uk], axis=1)

In [670]:
combined_horizontal.reset_index()

,index,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,...,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct,DaysBetween,Percent_Of_Month_Rev,Customer_Rank,Cumulative_Revenue,Type
0,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6.0,2010-12-01 08:26:00,3.39,17850.0,UK,20.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.0,2010-12-01 08:26:00,2.55,17850.0,UK,15.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,536365,71053,WHITE METAL LANTERN,6.0,2010-12-01 08:26:00,3.39,17850.0,UK,20.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8.0,2010-12-01 08:26:00,2.75,17850.0,UK,22.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.0,2010-12-01 08:26:00,3.39,17850.0,UK,20.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,392687,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,4.0,4.0,Medium,Medium,27.0,0.0,0.000938,1826.0,8.887145e+06,Non-UK
392688,392688,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,4.0,4.0,Medium,Medium,28.0,0.0,0.001159,1826.0,8.887158e+06,Non-UK
392689,392689,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,4.0,4.0,Medium,Small,29.0,0.0,0.001526,1826.0,8.887174e+06,Non-UK
392690,392691,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,4.0,4.0,Medium,Small,29.0,0.0,0.001365,1826.0,8.887189e+06,Non-UK
392691,392678,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,4.0,4.0,Medium,Medium,30.0,0.0,0.001821,1826.0,8.887209e+06,Non-UK

PART Q: External Data Integration


Task 108: Create a new dataset with customer information (make up data): CustomerID, CustomerName, MembershipLevel (Bronze/Silver/Gold), JoinDate

In [671]:
customer_info = pd.DataFrame({
    'CustomerID': [12347, 12348, 12349, 12350, 12351],
    'CustomerName': ['Apple', 'Banana', 'Grapes', 'Mango', 'Pineapple'],
    'MembershipLevel': ['Gold', 'Silver', 'Bronze', 'Gold', 'Silver'],
    'JoinDate': ['2019-01-10', '2020-05-14', '2021-02-20', '2018-11-03', '2020-09-30']
})
customer_info

   CustomerID CustomerName MembershipLevel    JoinDate
0       12347        Apple            Gold  2019-01-10
1       12348       Banana          Silver  2020-05-14
2       12349       Grapes          Bronze  2021-02-20
3       12350        Mango            Gold  2018-11-03
4       12351    Pineapple          Silver  2020-09-30

Task 109: Combine this customer dataset with your sales data to show customer names and membership levels in transactions.

In [672]:
df_merged = odf.merge(customer_info, on='CustomerID', how='left')
df_merged

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,...,RevenueCategory,OrderSize,LengthOfProduct,DaysBetween,Percent_Of_Month_Rev,Customer_Rank,Cumulative_Revenue,CustomerName,MembershipLevel,JoinDate
0,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,Medium,Medium,30,0.0,0.001870,248.0,2.034000e+01,NaN,NaN,NaN
1,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,...,Medium,Medium,34,NaN,0.001407,248.0,3.564000e+01,NaN,NaN,NaN
2,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,Medium,Medium,19,0.0,0.001870,248.0,5.598000e+01,NaN,NaN,NaN
3,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,...,Medium,Medium,30,0.0,0.002023,248.0,7.798000e+01,NaN,NaN,NaN
4,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,Medium,Medium,35,0.0,0.001870,248.0,9.832000e+01,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,...,Medium,Medium,27,0.0,0.000938,1826.0,8.887145e+06,NaN,NaN,NaN
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,...,Medium,Medium,28,0.0,0.001159,1826.0,8.887158e+06,NaN,NaN,NaN
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,...,Medium,Small,29,0.0,0.001526,1826.0,8.887174e+06,NaN,NaN,NaN
392690,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,...,Medium,Small,29,0.0,0.001365,1826.0,8.887189e+06,NaN,NaN,NaN
392691,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,...,Medium,Medium,30,0.0,0.001821,1826.0,8.887209e+06,NaN,NaN,NaN

Task 110: Create a product categories dataset (make up data):

StockCode, Category (e.g., Home, Kitchen, Gift, etc.)

In [673]:
product_categories = pd.DataFrame({
    'StockCode': ['85123A', '71053', '84406B', '84029G', '47590B'],
    'Category': ['Home', 'Kitchen', 'Gift', 'Toys', 'Stationery']
})

Task 111: Combine the sales data with product categories to analyze which categories generate the most revenue.

In [674]:
df_merged_products = odf.merge(product_categories, on='StockCode', how='left')
df_merged_products.groupby('Category')['TotalPrice'].sum().sort_values(ascending=False)

Category
Home          100547.45
Stationery     11666.35
Toys            9313.17
Gift            7121.23
Kitchen         5893.45
Name: TotalPrice, dtype: float64

Task 112: Perform an analysis that shows total revenue by MembershipLevel.

In [675]:
df_merged.groupby('MembershipLevel')['TotalPrice'].sum().sort_values(ascending=False)

MembershipLevel
Gold      4644.40
Silver    1797.24
Bronze    1757.55
Name: TotalPrice, dtype: float64

Task 113: Show which product categories are most popular in each country.

In [676]:
df_merged_products.groupby(['Country', 'Category'])['InvoiceNo'].count().sort_values(ascending=False)

Country               Category
UK                    Home          1936
                      Stationery     314
                      Toys           311
                      Kitchen        247
                      Gift           227
Ireland               Home            40
Spain                 Home            11
Germany               Stationery       9
Netherlands           Gift             8
Ireland               Stationery       7
Australia             Stationery       7
Ireland               Kitchen          7
Netherlands           Home             6
Italy                 Home             5
Cyprus                Home             5
France                Toys             4
Ireland               Gift             4
Channel Islands       Home             4
Finland               Home             3
France                Home             3
Spain                 Stationery       3
Germany               Gift             3
Switzerland           Home             2
                      Toys             2
USA                   Stationery       2
Channel Islands       Toys             2
                      Stationery       2
Belgium               Stationery       2
France                Stationery       2
Switzerland           Stationery       2
Norway                Stationery       2
Portugal              Home             2
Finland               Stationery       2
Singapore             Home             2
Germany               Toys             2
Spain                 Kitchen          2
Germany               Home             1
Cyprus                Stationery       1
Austria               Stationery       1
Australia             Home             1
                      Toys             1
Austria               Gift             1
RSA                   Stationery       1
Italy                 Stationery       1
Malta                 Home             1
Israel                Home             1
Switzerland           Kitchen          1
Sweden                Stationery       1
Spain                 Toys             1
United Arab Emirates  Stationery       1
Name: InvoiceNo, dtype: int64

PART R: NumPy Operations


Task 114: Extract Quantity and UnitPrice as arrays and perform element-wise multiplication.

In [677]:
qty = odf['Quantity'].array
price = odf['UnitPrice'].array
total = qty * price
total

<NumpyExtensionArray>
[             np.float64(20.34), np.float64(15.299999999999999),
              np.float64(20.34),               np.float64(22.0),
              np.float64(20.34),               np.float64(15.3),
               np.float64(25.5), np.float64(11.100000000000001),
 np.float64(11.100000000000001),              np.float64(17.85),
 ...
 np.float64(19.799999999999997),               np.float64(15.0),
               np.float64(15.6),               np.float64(23.4),
               np.float64(16.6),               np.float64(10.2),
 np.float64(12.600000000000001),               np.float64(16.6),
 np.float64(14.850000000000001), np.float64(19.799999999999997)]
Length: 392692, dtype: float64

Task 115: Create an array of 1000 random transaction IDs.

In [678]:
transaction_ids = np.random.randint(100000, 999999, 1000)
transaction_ids

array([859578, 630475, 939414, 646265, 220398, 976104, 360058, 633764,
       454558, 207623, 107887, 553224, 963772, 618837, 340583, 772674,
       462839, 468939, 356486, 384760, 776500, 167646, 975747, 865044,
       313093, 422070, 381625, 327060, 212440, 867820, 504054, 451353,
       895487, 637318, 949165, 818003, 403644, 895548, 953552, 242084,
       697557, 660545, 145339, 294607, 429763, 930373, 605013, 704859,
       915484, 440437, 475277, 458660, 391863, 830978, 256891, 112708,
       690792, 778314, 220274, 397580, 272045, 251845, 654723, 760607,
       843283, 818067, 591315, 651401, 107100, 508268, 605300, 920100,
       344961, 206103, 816710, 496011, 822171, 892218, 323869, 972568,
       112659, 892340, 947284, 547219, 747339, 643817, 677432, 827149,
       699565, 809975, 978387, 126486, 169717, 434861, 263555, 499054,
       533716, 253235, 539820, 905339, 903732, 731218, 380594, 578185,
       501362, 116921, 522778, 242997, 848685, 142027, 468568, 515965,
       809839, 168900, 903671, 230689, 495616, 260614, 154316, 167529,
       548356, 104405, 981781, 400471, 364962, 947676, 556522, 797624,
       222500, 344882, 109382, 751658, 571327, 364592, 467391, 808248,
       558511, 747250, 919724, 771711, 408420, 588598, 107924, 979465,
       520039, 955551, 230077, 266972, 845029, 578283, 582470, 814082,
       399079, 646955, 142937, 196979, 349652, 353277, 681384, 702390,
       801540, 375909, 789758, 981339, 436147, 611240, 107150, 225945,
       974264, 132259, 912665, 664430, 247413, 577812, 888496, 216429,
       565559, 320512, 953283, 925888, 386638, 447022, 663422, 652411,
       257943, 164932, 919577, 286081, 943094, 449058, 101444, 465171,
       376316, 926103, 407951, 277553, 904189, 858253, 315199, 138859,
       265346, 225712, 486828, 754673, 724762, 581741, 629477, 937731,
       705007, 189314, 567875, 983412, 856643, 101906, 761304, 854599,
       744759, 502765, 729745, 243190, 295241, 868954, 103280, 753368,
       105656, 863430, 378401, 256459, 144354, 305388, 708182, 594183,
       336940, 202299, 208035, 971622, 686725, 628267, 350414, 823188,
       771012, 366507, 818257, 296470, 456720, 112337, 147553, 954298,
       329273, 363372, 545621, 235179, 382455, 856108, 339889, 368688,
       515100, 987792, 229725, 877865, 848436, 368133, 534564, 269203,
       547792, 754227, 702382, 194605, 318264, 247035, 727534, 355840,
       582487, 808015, 848899, 223670, 383966, 456865, 385209, 913797,
       807810, 160709, 662510, 527466, 247041, 905425, 901153, 836501,
       486352, 218383, 518384, 146093, 807369, 418542, 196095, 336450,
       111995, 834191, 325535, 968704, 227574, 252738, 440173, 678680,
       389703, 741881, 256885, 695709, 852285, 759657, 656477, 151145,
       960817, 750518, 955772, 244988, 454214, 563534, 182344, 252199,
       540614, 145789, 650822, 916150, 246044, 732262, 117169, 659043,
       609371, 627268, 762732, 970553, 770580, 719031, 351841, 138718,
       169159, 252306, 282574, 906524, 353099, 336497, 667375, 343008,
       225357, 595317, 859098, 764910, 548848, 525675, 668651, 386282,
       460130, 303715, 915718, 755983, 398660, 736663, 806329, 472417,
       823180, 445133, 738895, 417745, 680034, 468703, 859605, 180337,
       771690, 716113, 151532, 622233, 384619, 578635, 244818, 423814,
       888061, 673784, 428950, 284619, 106069, 585600, 241300, 150147,
       585000, 865308, 517173, 378297, 901350, 892738, 687746, 466804,
       551574, 188900, 143934, 420642, 770348, 160922, 310608, 628448,
       452491, 815552, 627412, 760208, 817589, 764010, 244271, 412991,
       880858, 737254, 529321, 181445, 732325, 450029, 306610, 112530,
       362470, 766862, 852263, 511911, 242209, 689460, 318376, 846728,
       621425, 240050, 754213, 378451, 675194, 949098, 684651, 721027,
       453306, 554661, 450395, 155998, 471062, 447141, 638111, 676038,
       811025, 415975, 733735, 451663, 325918, 815007, 909654, 820812,
       257737, 786634, 449527, 109619, 945009, 350967, 787653, 185179,
       290760, 974601, 941965, 635609, 984563, 927450, 600166, 885967,
       237374, 754279, 679006, 586011, 800085, 883946, 145401, 136395,
       248042, 210719, 434101, 519379, 819350, 496298, 888883, 158405,
       963790, 540999, 572367, 716332, 278388, 300804, 989671, 405078,
       848142, 653602, 651445, 492758, 790387, 238538, 741380, 868762,
       586337, 544696, 737346, 288626, 339101, 301414, 893061, 745763,
       284845, 263174, 496731, 248182, 728565, 909883, 282041, 129564,
       238509, 692391, 344124, 318137, 839206, 268856, 674977, 835849,
       748922, 630157, 473922, 628395, 435263, 831444, 914375, 273251,
       177614, 394907, 117612, 710859, 870451, 922591, 859012, 674273,
       978051, 650451, 911213, 327666, 586113, 652723, 718513, 560212,
       989811, 920787, 175914, 425428, 453370, 314801, 349126, 868034,
       357240, 929658, 971403, 966265, 993054, 874098, 540456, 162365,
       366810, 326830, 452931, 462100, 446831, 419471, 188561, 423414,
       698120, 201872, 202811, 244420, 800775, 327154, 600389, 154048,
       480603, 785170, 349766, 888902, 573612, 497597, 272839, 604976,
       587385, 157130, 246296, 781821, 316492, 309956, 208413, 491785,
       762724, 455398, 707015, 902212, 587659, 841051, 874869, 783983,
       542545, 213999, 113818, 154350, 299900, 433661, 725229, 607811,
       314672, 420062, 227490, 221595, 341605, 877600, 380342, 850795,
       852440, 583504, 908467, 744257, 715535, 416461, 286567, 110253,
       661915, 526763, 344523, 388208, 715166, 950047, 485394, 361913,
       300455, 150679, 359397, 242676, 156656, 306538, 967516, 297741,
       834827, 900060, 301543, 162056, 505023, 672272, 700025, 480696,
       657925, 398532, 599780, 537987, 325308, 279715, 413785, 283572,
       708707, 421401, 699684, 816246, 924630, 544055, 268373, 567728,
       925409, 728879, 338561, 613449, 691104, 609359, 759094, 480902,
       207349, 917903, 412407, 819715, 632896, 910139, 426779, 570356,
       545290, 189289, 984591, 352346, 790530, 596571, 453364, 250621,
       407320, 222230, 631238, 345111, 225838, 598543, 364864, 864927,
       771305, 816478, 741481, 718454, 969503, 929679, 972510, 770460,
       821091, 849960, 145653, 606686, 805041, 870742, 810647, 516068,
       460252, 545678, 373657, 303983, 861621, 248736, 644518, 227647,
       855924, 330035, 598480, 325441, 472848, 432544, 380026, 862843,
       616001, 366327, 791121, 867191, 640449, 608848, 992721, 858941,
       329420, 397784, 782889, 288472, 654392, 520945, 791316, 573336,
       108921, 203646, 224310, 625602, 893350, 194498, 839361, 516031,
       421445, 152534, 225430, 867160, 334935, 790565, 136583, 442564,
       204722, 349492, 826134, 531109, 721335, 792936, 194024, 921727,
       499971, 664232, 775145, 381401, 335529, 314837, 563101, 860561,
       692978, 347874, 977831, 461734, 680187, 969114, 231797, 614114,
       857380, 874262, 225417, 951819, 235528, 408316, 956683, 943773,
       698332, 551063, 394974, 481392, 447463, 387186, 809977, 741577,
       368075, 496234, 601396, 137749, 812483, 570260, 717368, 963466,
       586532, 704524, 319159, 830678, 967478, 262138, 931531, 330497,
       249667, 833508, 904531, 743894, 664212, 220549, 581656, 557563,
       254302, 491575, 553066, 392978, 927669, 248236, 377823, 589595,
       920548, 945870, 884939, 521210, 968968, 389258, 834763, 827368,
       504532, 720854, 485209, 778285, 561927, 849623, 341950, 698491,
       463435, 766252, 623112, 367673, 813352, 282850, 123404, 856348,
       146072, 351476, 128314, 168055, 789920, 394975, 669672, 422557,
       187375, 681032, 922421, 930521, 629691, 114847, 307983, 204857,
       604739, 317995, 856012, 481433, 480898, 105244, 733920, 549511,
       581247, 815645, 862505, 819306, 706963, 796633, 517411, 338726,
       635682, 326933, 220436, 785891, 785255, 915960, 210450, 347382,
       299130, 817738, 589715, 747597, 333869, 495325, 377184, 813673,
       315768, 689642, 922656, 282169, 380559, 630532, 977925, 386520,
       533098, 942426, 477079, 507060, 568623, 494681, 815506, 728047,
       565302, 673669, 404747, 689632, 922388, 500612, 113095, 906877,
       299425, 970648, 576371, 290087, 845372, 162924, 202082, 209389,
       787430, 242332, 210883, 512003, 229067, 844181, 976285, 793455,
       444450, 336278, 464287, 286625, 422189, 786372, 354843, 525423,
       400654, 875041, 618103, 993291, 630020, 592160, 518513, 242919,
       997539, 381140, 145325, 221819, 624498, 970758, 354172, 848579,
       396339, 551188, 300069, 188978, 489534, 864914, 573252, 768856,
       451692, 608553, 351012, 964339, 552498, 852323, 828856, 801889,
       842317, 305083, 998581, 375801, 486048, 682597, 733089, 200623,
       606292, 413085, 634450, 689437, 615270, 199908, 279271, 388573])

Task 116: Generate 50 equally spaced price points between 0 and 500.

In [679]:
price_points = np.linspace(0, 500, 50)

Task 117: Create a matrix representing 12 months and 7 product categories filled with zeros.

In [680]:
matrix = np.zeros((12, 7))
matrix

array([[0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0.]])

Task 118: Extract quantities greater than 100 from the Quantity array.

In [681]:
qty[qty > 100]

<NumpyExtensionArray>
[  np.int64(120),   np.int64(192),   np.int64(192),   np.int64(432),
   np.int64(432),   np.int64(192),   np.int64(144),   np.int64(288),
   np.int64(144),   np.int64(128),
 ...
  np.int64(1500),  np.int64(1200),   np.int64(240),   np.int64(144),
   np.int64(192), np.int64(80995),   np.int64(120),   np.int64(180),
   np.int64(144),   np.int64(144)]
Length: 4657, dtype: int64

Task 119: Calculate the square root of all UnitPrice values.

In [682]:
np.sqrt(odf['UnitPrice'])

4         1.841195
0         1.596872
1         1.841195
2         1.658312
3         1.841195
            ...
392687    0.921954
392688    1.449138
392689    2.037155
392691    2.224860
392678    1.284523
Name: UnitPrice, Length: 392692, dtype: float64

Task 120: Find the 25th, 50th, and 75th percentiles of TotalPrice.

In [683]:
np.percentile(odf['TotalPrice'], [25, 50, 75])

array([ 4.95, 12.45, 19.8 ])

Task 121: Round all UnitPrice values to the nearest integer.

In [684]:
np.round(odf['UnitPrice'])

4         3.0
0         3.0
1         3.0
2         3.0
3         3.0
         ...
392687    1.0
392688    2.0
392689    4.0
392691    5.0
392678    2.0
Name: UnitPrice, Length: 392692, dtype: float64

Task 122: Find positions where Quantity is maximum.

In [685]:
np.where(qty == qty.max())

(array([392226]),)

In [686]:
np.where(odf['Quantity'] == odf['Quantity'].max())

(array([392226]),)

Task 123: Calculate the correlation between Quantity and UnitPrice.

In [687]:
np.corrcoef(qty, price)

array([[ 1.        , -0.00457831],
       [-0.00457831,  1.        ]])

In [688]:
np.corrcoef(odf['Quantity'], odf['UnitPrice'])[0, 1]

np.float64(-0.00457831434964903)

Task 124: Normalize the TotalPrice column (subtract mean, divide by standard deviation).

In [689]:
odf['Normalized_TotalPrice'] = (odf['TotalPrice'] - odf['TotalPrice'].mean()) / odf['TotalPrice'].std()
odf

,InvoiceNo,StockCode,ProductName,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Year,...,DayOfWeek,Quarter,RevenueCategory,OrderSize,LengthOfProduct,DaysBetween,Percent_Of_Month_Rev,Customer_Rank,Cumulative_Revenue,Normalized_TotalPrice
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,2,4,Medium,Medium,30,0.0,0.001870,248.0,2.034000e+01,-0.007366
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,UK,15.30,2010,...,2,4,Medium,Medium,34,NaN,0.001407,248.0,3.564000e+01,-0.023566
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,2,4,Medium,Medium,19,0.0,0.001870,248.0,5.598000e+01,-0.007366
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,UK,22.00,2010,...,2,4,Medium,Medium,30,0.0,0.002023,248.0,7.798000e+01,-0.002030
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,UK,20.34,2010,...,2,4,Medium,Medium,35,0.0,0.001870,248.0,9.832000e+01,-0.007366
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392687,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France,10.20,2011,...,4,4,Medium,Medium,27,0.0,0.000938,1826.0,8.887145e+06,-0.039960
392688,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France,12.60,2011,...,4,4,Medium,Medium,28,0.0,0.001159,1826.0,8.887158e+06,-0.032245
392689,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France,16.60,2011,...,4,4,Medium,Small,29,0.0,0.001526,1826.0,8.887174e+06,-0.019388
392691,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France,14.85,2011,...,4,4,Medium,Small,29,0.0,0.001365,1826.0,8.887189e+06,-0.025013
392678,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680,France,19.80,2011,...,4,4,Medium,Medium,30,0.0,0.001821,1826.0,8.887209e+06,-0.009102

Task 125: Split the Quantity array into 4 equal parts.

In [690]:
np.array_split(odf['Quantity'], 4)

/usr/local/lib/python3.12/dist-packages/numpy/_core/fromnumeric.py:57: FutureWarning: 'Series.swapaxes' is deprecated and will be removed in a future version. Please use 'Series.transpose' instead.
  return bound(*args, **kwds)

[4         6
 0         6
 1         6
 2         8
 3         6
          ..
 98168    12
 98169     1
 98170     1
 98171     1
 98172     1
 Name: Quantity, Length: 98173, dtype: int64,
 98173     24
 98174     10
 98175      1
 98176      1
 98163     10
           ..
 196351    12
 196353     1
 196354    12
 196350     5
 196355    12
 Name: Quantity, Length: 98173, dtype: int64,
 196356    24
 196357    24
 196341     1
 196318     1
 196349     2
           ..
 294496    36
 294516    20
 294517     8
 294511    12
 294519    12
 Name: Quantity, Length: 98173, dtype: int64,
 294540    12
 294539    12
 294538     4
 294537     4
 294518     8
           ..
 392687    12
 392688     6
 392689     4
 392691     3
 392678    12
 Name: Quantity, Length: 98173, dtype: int64]

PART S: Export and Documentation


Task 126: Save your cleaned dataset to a CSV file.

In [691]:
odf.to_csv("Cleaned_OnlineRetail.csv")

Task 127: Save your cleaned dataset to an Excel file.

In [692]:
#odf.to_excel("Cleaned_OnlineRetail.xlsx", index=False, engine='openpyxl')

Task 128: Create an Excel file with multiple sheets:
Sheet 1: Full cleaned data

Sheet 2: Country-wise summary

Sheet 3: Monthly revenue trends

Sheet 4: Top 50 customers

In [693]:
merged = pt1.merge(pt2, on='Country', how='left').merge(pt3, on='Country', how='left')

In [694]:
Rev_Trends = pd.pivot_table(odf,index='Month',values='TotalPrice',aggfunc='sum')

In [695]:
top_50 = odf.groupby(['CustomerID'])['TotalPrice'].sum().reset_index().sort_values('TotalPrice',ascending=False).head(50)

In [ ]:
# Sheet 1:
odf.to_excel("Cleaned_OnlineRetail.xlsx", index=False, engine='openpyxl')

# Sheet 2:
merged.to_excel("Country_Wise_Summary.xlsx", index=False, engine='openpyxl')

# Sheet 3:
Rev_Trends.to_excel("Monthly_revenueTrends.xlsx", index=False, engine='openpyxl')

# Sheet 4:
top_50.to_excel("Top50Customers.xlsx", index=False, engine='openpyxl')

Task 129: Export the pivot table from Task 100 to Excel.

In [697]:
pt1.to_excel("Country_wise_monthly_trends.xlsx",index=False,engine='openpyxl')

Task 130: Create a text file documenting all the insights you discovered from this analysis.